<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ page import="java.util.ArrayList,model.GetDocInfo,model.GetLabelInfo,java.sql.ResultSet;"%>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>User Add Important Numbers</title>
        <script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
        <script src="js/thickbox.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="css/loginstyle.css">
              <link rel="stylesheet" type="text/css" href="css/thickbox.css">
                   <script type="text/javascript" src="js/allValidation.js"></script>
        <script>
            function numeric_only( e )
{
// deal with unicode character sets
var unicode = e.charCode ? e.charCode : e.keyCode;

// if the key is backspace, tab, or numeric
if( unicode == 8 || unicode == 9 || ( unicode >= 48 && unicode <= 57 ) )
{
// we allow the key press
return true;
}
else
{
// otherwise we don't
//alert("you enter other character");
return false;
}
}
             function importantNumberValidate(){
                var emailid=document.forms["addimpno"]["PAN"].value;
                var password=document.forms["addimpno"]["password"].value;
                  var desc=document.forms["addimpno"]["desc"].value;
                var forchecking=document.forms["addimpno"]["forchecking"].value;
                if(emailid==""||emailid==null){
                      if(forchecking=="PAN"){
                  alert("Please Enter PAN card holder name");
                       return false;
                      }else{

                          if(forchecking=="DRIVING"){

                               alert("Please Enter License holder name");
                       return false;
                          }else{
                              if(forchecking=="INSURANCE"){
                                   alert("Please Enter Policy holder name");
                                    return false;
                              }else{
                                    if(forchecking=="UNIQUE"){
                                         alert("Please Enter Identity card holder name");
                                       return false;
                                    }else{
                                         if(forchecking=="CONTACT"||forchecking=="other"){
                                         alert("Please Enter person name");
                                       return false;
                                    }
                                    }
                              }
                          }
                      }

                }
                 if(emailid.trim()==""){
                      alert("Please Enter text ");
                      return false;
                }
                 if(forchecking=="PAN"||forchecking=="DRIVING"||forchecking=="INSURANCE"||forchecking=="UNIQUE"||forchecking=="CONTACT"||forchecking=="other"){

                       if(checkSpecialCharacter(emailid)==false){
                    alert ("Special character not allowed");
                    return false;
                }
                   }
                if(password==""||password==null){
                     if(forchecking=="PAN"){
                  alert("Please Enter PAN card number");
                       return false;
                      }else{

                          if(forchecking=="DRIVING"){

                               alert("Please Enter driving License number");
                       return false;
                          }else{
                              if(forchecking=="INSURANCE"){
                                   alert("Please Enter insurance Policy number");
                                    return false;
                              }else{
                                    if(forchecking=="UNIQUE"){
                                         alert("Please Enter Identity card number");
                                       return false;
                                    }else{
                                         if(forchecking=="CONTACT"||forchecking=="other"){
                                         alert("Please Enter person's number");
                                       return false;
                                    }
                                    }
                              }
                          }
                      }
                }
                 if(password.trim()==""){
                      alert("Please Enter text ");
                      return false;
                }
                  
                 if(desc==""||desc==null||desc.trim()==" "){
                    var tbLen = desc.trim().length;
                            if (tbLen == 0)
                           {
                    return confirm ('Are you sure you want this Description to be saved as empty?');
                         }

                }

                return true;

            }
            function showCredentails(str)
            {
                if (window.XMLHttpRequest)
                {// code for IE7+, Firefox, Chrome, Opera, Safari
                    xmlhttp=new XMLHttpRequest();
                }
                else
                {// code for IE6, IE5
                    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                }
                xmlhttp.onreadystatechange=function()
                {
                    if (xmlhttp.readyState==4 && xmlhttp.status==200)
                    {
                        document.getElementById("contain").innerHTML=xmlhttp.responseText;
                    }
                }
                xmlhttp.open("GET","setimportantnumber.jsp?q="+str,true);
                xmlhttp.send();
            }
        </script>
        <script src="js/jquery-1.4.3.min.js" type="text/javascript"></script>
<script type="text/javascript">


$(document).ready(function ()

{
            $("#btnShowSimple").click(function (e)

 {
                ShowDialog(false);
                e.preventDefault();

});


$("#btnShowModal").click(function (e)

      {
                ShowDialog(true);

 e.preventDefault();

});


$("#btnClose").click(function (e)

  {

 HideDialog();

 e.preventDefault();
            });

            $("#btnSubmit").click(function (e)
            {
                var brand = $("#brands input:radio:checked").val();
                $("#output").html("<b>Your favorite mobile brand: </b>" + brand);
                HideDialog();
                e.preventDefault();
            });
        });

        function ShowDialog(modal)
        {
            $("#overlay").show();
            $("#dialog").fadeIn(300);

            if (modal)
            {
                $("#overlay").unbind("click");
            }
            else
            {
                $("#overlay").click(function (e)
                {
                    HideDialog();
                });
            }
        }

        function HideDialog()
        {
            $("#overlay").hide();
            $("#dialog").fadeOut(300);
        }

    </script>
    </head>
    <body>
        <%response.setHeader("Cache-Control", "no-cache"); //Forces caches to obtain a new copy of the page from the origin server
        response.setHeader("Cache-Control", "no-store"); //Directs caches not to store the page under any circumstance
        response.setDateHeader("Expires", 0); //Causes the proxy cache to see the page as "stale"
        response.setHeader("Pragma", "no-cache"); //HTTP 1.0 backward compatibility
        if (session.getAttribute("name") == null) {
            response.sendRedirect("index.jsp?status=session expired");
        }

        %>
        <!--Wrapper starts-->
        <div class="wrapper">
            <!--Header starts-->
            <div class="header">
                <!--Logoarea starts-->
                <div class="logoarea">
                    <!--Logo starts-->
                    <div class="logo">
                        <a href="home.jsp">
                            <img src="images/logo.png" />
                        </a>
                    </div>
                    <!--Logo Ends-->
            <!--Loginarea Starts-->
                    <div class="loginarea">
                        <div class="inbox" style="width:60px; float:left;">
                    <a href="inbox.jsp" style="color:#fff; font-weight:bold;">Inbox</a>
                </div>
                        <div class="loginname">
                            <h1>
                                Logged In As:
                                <span><%=session.getAttribute("name") %></span>
                            </h1>
                        </div>
                        <div class="logout">
                            <a href="logout.jsp">LOGOUT</a>
                        </div>
                    </div>
                    <!--Loginarea Ends-->
                </div>
                <!--Logoarea Ends-->
            </div>
            <!--Header ends-->
    <!--Main Container Starts-->
            <div class="maincontainer">
                <!--Left Container Starts-->
                <div class="leftcontainer">
                    <!--LeftMenu Starts-->
                    <div class="leftmenu">
                        <div class="myaccount">
                            <label>My Account</label>
                        </div>
                      <ul>
					<li>
						<a href="myprofile.jsp?stat=view">My Profile</a>
					</li>
					<li>
						<a href="managespace.jsp">Manage Space</a>
					</li>
                    <li>
						<a href="managelabel.jsp">Manage Label</a>
					</li>
                    <li>
						<a href="userpreferences.jsp?width=400&height=300" class="thickbox" title="User Preference">User Preferences</a>
					</li>
					<li>
						<a href="changepassword.jsp">Change Password</a>
					</li>
					<li>
						<a href="askquestion.jsp">Ask A Question</a>
					</li>
                    <li>
						<a href="feedback.jsp">Feedback</a>
					</li>
				</ul>
                    </div>
                    <!--LeftMenu Ends-->
                </div>
                <!--Left Container Ends-->
        <!--Right Container Starts-->
                <div class="rightcontainer">
                    <!--Menu Starts-->
                    <%if(session.getAttribute("user_pref").equals("C")){%>
                    <div class="menu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1" >Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2">Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3">Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
                            <li><a href="userimportantnumber.jsp" class="current">Important Numbers</a></li>
                        </ul>
                    </div>
                     <%}else{%>
            <div class="menu">
            <ul>
					<li><a href="home.jsp" >Home</a></li>
					<li><a href="userhome.jsp?nextpage=1&label_id=0">Docs</a></li>
					<li><a href="usermusic.jsp?nextpage=1&label_id=0">Music</a></li>
					<li><a href="userphoto.jsp?nextpage=1&label_id=0">Photos</a></li>
					<li><a href="uservideo.jsp?nextpage=1&label_id=0">Videos</a></li>
					<li><a href="usercredential.jsp?nextpage=1&label_id=0">Credentials</a></li>
					<li><a href="userimportantnumber.jsp?nextpage=1&label_id=0" class="current">Important Numbers</a></li>
            </ul>
            </div>
            <%}%>
                    <!--Menu Ends-->
            <!--maincontent starts-->
                    <div class="main">
                        <!--mainarea starts-->
                        <div class="mainarea">
                            <div class="heading">
                                <h2>Add Important Number </h2>
                            </div>
                            <div class="documententry">
                                <form action="ImportantNumber" name="addimpno"  onsubmit="return importantNumberValidate();" method="post">
                                    <table class="bordered border addimptable">
                                         <%
        ResultSet rs = null;
        String msg=request.getParameter("msg");
        try {
            int userId =(Integer)session.getAttribute("uid");
            int lockerId = 6;
            GetLabelInfo lb = new GetLabelInfo();
            rs = lb.getLabels(lockerId, userId);
                                        %>
                                         <tr>

                                             <%if(msg!=null){%>
                                               <td>

                                               </td>

                                                <td>
                                                   <span style="color:green"><%=msg%></span>
                                               </td>
                                               <%}%>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Select Type:</label>
                                            </td>
                                            <td>
                                                <select id="txtHint1" name="country" onchange="showCredentails(this.value,this.name)" >
                                                    <option value="0">Select </option>
                                                    <%
                                                           while (rs.next()) {
                                                    %>
                                                    <option value="<%= rs.getString(2)%>"><%= rs.getString(2)%></option>
                                                    <%}%>
                                                </select>
                                                <%

        } catch (Exception e) {
            e.printStackTrace();
        }

                                                %>
                                                 <label id="txtHint1"><a onclick="" href="createfolder.jsp?locker_id=6" title="Create Label" class="thickbox">create label </a></label>   </td>
                                       </tr>


                                    </table>

                                    <div id="contain" class="bordered border credtable">

                                    </div>

                                </form>
                            </div>
                        </div>
                        <!--mainarea ends-->

                    </div>
                    <!--maincontent ends-->
                </div>
                <!--Right Container Ends-->
            </div>
            <!--Main Container Ends-->
    <!--Footer starts-->
            <div class="footer">
                <div class="footerleft">
                    <p>
                        &copy; All Copyrights reserved. <a href="index.jsp">www.bub.com</a>
                    </p>
                </div>
                <div class="footerright">
                    <ul>
                        <li><a href="index.jsp">Home</a> &nbsp;| &nbsp;</li>
                        <li><a href="index.jsp">About Us</a> &nbsp;| &nbsp;</li>
                        <li><a href="index.jsp">Privacy</a> &nbsp;| &nbsp;</li>
                        <li><a href="index.jsp">Terms</a> &nbsp;| &nbsp;</li>
                        <li><a href="index.jsp">Contact Us</a></li>

                    </ul>
                </div>
            </div>
            <!--Footer Ends-->
        </div>
        <!--Wrapper ends-->
    </body>
</html>
