<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ask a Question</title>
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
<script src="js/video.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css">
<link rel="stylesheet" type="text/css" href="css/loginstyle.css">
    <script src="js/jquery-1.4.3.min.js" type="text/javascript"></script>
<script type="text/javascript">


$(document).ready(function ()

{
            $("#btnShowSimple").click(function (e)

 {
                ShowDialog(false);
                e.preventDefault();

});


$("#btnShowModal").click(function (e)

      {
                ShowDialog(true);

 e.preventDefault();

});


$("#btnClose").click(function (e)

  {

 HideDialog();

 e.preventDefault();
            });

            $("#btnSubmit").click(function (e)
            {
                var brand = $("#brands input:radio:checked").val();
                $("#output").html("<b>Your favorite mobile brand: </b>" + brand);
                HideDialog();
                e.preventDefault();
            });
        });

        function ShowDialog(modal)
        {
            $("#overlay").show();
            $("#dialog").fadeIn(300);

            if (modal)
            {
                $("#overlay").unbind("click");
            }
            else
            {
                $("#overlay").click(function (e)
                {
                    HideDialog();
                });
            }
        }

        function HideDialog()
        {
            $("#overlay").hide();
            $("#dialog").fadeOut(300);
        }

    </script>
</head>
<body>
<%response.setHeader("Cache-Control", "no-cache"); //Forces caches to obtain a new copy of the page from the origin server
        response.setHeader("Cache-Control", "no-store"); //Directs caches not to store the page under any circumstance
        response.setDateHeader("Expires", 0); //Causes the proxy cache to see the page as "stale"
        response.setHeader("Pragma", "no-cache"); //HTTP 1.0 backward compatibility

        if(session.getAttribute("name")==null){
            response.sendRedirect("index.jsp?status=session expired");
        }

    %>
<!--Wrapper starts-->
<div class="wrapper">
	<!--Header starts-->
	<div class="header">
		<!--Logoarea starts-->
		<div class="logoarea">
			<!--Logo starts-->
			<div class="logo">
				<a href="home.jsp">
					<img src="images/logo.png" />
				</a>
			</div>
			<!--Logo Ends-->
			<!--Loginarea Starts-->
			<div class="loginarea">
                <div class="inbox" style="width:60px; float:left;">
                    <a href="inbox.jsp" style="color:#fff; font-weight:bold;">Inbox</a>
                </div>
				<div class="loginname">
					<h1>
						Logged In As:
                        <span><%= session.getAttribute("name") %></span>
					</h1>
				</div>
				<div class="logout">
					<a href="logout.jsp">LOGOUT</a>
				</div>	
			</div>
			<!--Loginarea Ends-->
		</div>
		<!--Logoarea Ends-->
	</div>
	<!--Header ends-->
	<!--Main Container Starts-->
   
	<div class="maincontainer">
         <%
        String msg = request.getParameter("msg");
        if(msg!=null){

      %>
      <script>
          alert("Question sent successfully to admin");
    </script>
    <%
        }

                %>
		<!--Left Container Starts-->
		<div class="leftcontainer">
			<!--LeftMenu Starts-->
			<div class="leftmenu">
				<div class="myaccount">
					 <label>My Account</label>
				</div>
				<ul>
					<li>
						<a href="myprofile.jsp?stat=view">My Profile</a>
					</li>
					<li>
						<a href="managespace.jsp">Manage Space</a>
					</li>
                    <li>
						<a href="managelabel.jsp">Manage Label</a>
					</li>
                    <li>
						<a href="userpreferences.jsp?width=400&height=300" class="thickbox" title="User Preference">User Preferences</a>
					</li>
					<li>
						<a href="changepassword.jsp">Change Password</a>
					</li>
					<li class="current">
						<a href="askquestion.jsp" class="current">Ask A Question</a>
					</li>
                    <li>
						<a href="feedback.jsp">Feedback</a>
					</li>
				</ul>
			</div>
			<!--LeftMenu Ends-->
		</div>
		<!--Left Container Ends-->
		<!--Right Container Starts-->
		<div class="rightcontainer">
            <div class="menutop" style="margin-bottom:10px;"></div>
			<!--Menu Starts-->
			<%if(session.getAttribute("user_pref").equals("C")){%>
			<div class="menu">
				<ul>
					<li><a href="home.jsp">Home</a></li>
					<li><a href="repassword.jsp?locker_id=1">Docs</a></li>
					<li><a href="repassword.jsp?locker_id=2">Music</a></li>
					<li><a href="repassword.jsp?locker_id=3">Photos</a></li>
					<li><a href="repassword.jsp?locker_id=4">Videos</a></li>
					<li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
					<li><a href="repassword.jsp?locker_id=6">Important Numbers</a></li>
				</ul>
			</div>
            <%}else{%>
            <div class="menu">
            <ul>
					<li><a href="home.jsp">Home</a></li>
					<li><a href="userhome.jsp?nextpage=1&label_id=0">Docs</a></li>
					<li><a href="usermusic.jsp?nextpage=1&label_id=0">Music</a></li>
					<li><a href="userphoto.jsp?nextpage=1&label_id=0">Photos</a></li>
					<li><a href="uservideo.jsp?nextpage=1&label_id=0">Videos</a></li>
					<li><a href="usercredential.jsp?nextpage=1&label_id=0">Credentials</a></li>
					<li><a href="userimportantnumber.jsp?nextpage=1&label_id=0">Important Numbers</a></li>
            </ul>
            </div>
            <%}%>
			<!--Menu Ends-->
			
			<!--maincontent starts-->
			<div class="main">
				<!--mainarea starts-->
				<div class="mainarea">
					<!--myaccountarea starts-->
					<div class="myaccountarea">
						<h1>Ask a Question</h1>
						<form action="Askaques" method="post">
							<table class="bordered border">
								<tr>
									<td>
										<label>Subject:</label>
									</td>
									<td>
										<input type="text" name="subject" />
									</td>
								</tr>
								<tr>
									<td>
										<label>Question:</label>
									</td>
									<td>
										<textarea name="que"></textarea>
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
										<input type="submit" value="Send" class="clickaddbtn" />
									</td>
								</tr>
							</table>
						</form>
					</div>
					<!--myaccountarea ends-->
				</div>
				<!--mainarea ends-->
				
			</div>
			<!--maincontent ends-->
		</div>
		<!--Right Container Ends-->	
	</div>
	<!--Main Container Ends-->
	<!--Footer starts-->
	<div class="footer">
                <div class="footerleft">
                    <p>
                        &copy; All Copyrights reserved. <a href="#">www.bub.com</a>
                    </p>
                </div>
                <div class="footerright">
			<ul>
				<li><a href="home.jsp">Home</a> &nbsp; &nbsp;</li>
			<!--	<li><a href="about.jsp">About Us</a> &nbsp;| &nbsp;</li>
				<li><a href="privacy.jsp">Privacy</a> &nbsp;| &nbsp;</li>
				<li><a href="terms.jsp">Terms</a> &nbsp;| &nbsp;</li>
				<li><a href="contact.jsp">Contact Us</a></li>-->

			</ul>
		</div>
            </div>
	<!--Footer Ends-->
</div>
<!--Wrapper ends-->
</body>
</html>
