<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@page import="java.sql.Connection,java.sql.ResultSet,java.sql.Statement,connection.DBConnection,model.*,java.util.*;" %>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Edit Details</title>
        <link rel="stylesheet" type="text/css" href="css/loginstyle.css">
        <script>
            function numeric_only( e )
{
// deal with unicode character sets
var unicode = e.charCode ? e.charCode : e.keyCode;

// if the key is backspace, tab, or numeric
if( unicode == 8 || unicode == 9 || ( unicode >= 48 && unicode <= 57 ) )
{
// we allow the key press
return true;
}
else
{
// otherwise we don't
//alert("you enter other character");
return false;
}
}
            function credentialsValidate(){
                var emailid=document.forms["addcred"]["emailId"].value;
                var password=document.forms["addcred"]["password"].value;
                var forchecking=document.forms["addcred"]["forchecking"].value;
                 var desc=document.forms["addcred"]["desc"].value;
                if(emailid==""||emailid==null){
                      if(forchecking=="EMAIL"){
                  alert("Please Enter email id");
                       return false;
                      }else{

                          if(forchecking=="netbank"){

                               alert("Please Enter user id");
                       return false;
                          }else{
                              if(forchecking=="ATM"){
                                   alert("Please Enter Card number");
                                    return false;
                              }else{
                                    if(forchecking=="other"){
                                         alert("Please Enter user name");
                                       return false;
                                    }
                              }
                          }
                      }

                }
                if(forchecking=="EMAIL"){


                 var at="@"
                var dot="."
                var lat=emailid.indexOf(at)
                var lstr=emailid.length
                var ldot=emailid.indexOf(dot)
                if (emailid.indexOf(at)==-1){
                    alert("Invalid E-mail ID");
                    return false;
                }

                if (emailid.indexOf(at)==-1 || emailid.indexOf(at)==0 || emailid.indexOf(at)==lstr){
                    alert("Invalid E-mail ID");
                    return false;
                }

                if (emailid.indexOf(dot)==-1 || emailid.indexOf(dot)==0 || emailid.indexOf(dot)==lstr){
                    alert("Invalid E-mail ID");
                    return false;
                }

                if (emailid.indexOf(at,(lat+1))!=-1){
                    alert("Invalid E-mail ID");
                    return false;
                }

                if (emailid.substring(lat-1,lat)==dot || emailid.substring(lat+1,lat+2)==dot){
                    alert("Invalid E-mail ID");
                    return false;
                }

                if (emailid.indexOf(dot,(lat+2))==-1){
                    alert("Invalid E-mail ID");
                    return false;
                }

                if (emailid.indexOf(" ")!=-1){
                    alert("Invalid E-mail ID");
                    return false;
                }


            }
             if(emailid.trim()==""){
                      alert("Please Enter text ");
                      return false;
                }
                if(password==""||password==null){
                     if(forchecking=="EMAIL"){
                  alert("Please Enter password");
                       return false;
                      }else{

                          if(forchecking=="netbank"){

                               alert("Please Enter password");
                       return false;
                          }else{
                              if(forchecking=="ATM"){
                                   alert("Please Enter Pin code");
                                    return false;
                              }else{
                                    if(forchecking=="other"){
                                         alert("Please Enter upassword");
                                       return false;
                                    }
                              }
                          }
                      }
                }
                if(password.trim()==""){
                      alert("Please Enter text ");
                      return false;
                }
                if(forchecking=="netbank"){

                       if(checkSpecialCharacter(emailid)==false){
                    alert ("Special character not allowed");
                    return false;
                }
                   }
                    if(desc==""||desc==null||desc.trim()==" "){
                    var tbLen = desc.trim().length;
                            if (tbLen == 0)
                           {
                    return confirm ('Are you sure you want this Description to be saved as empty?');
                         }

                }

                return true;

            }
        </script>
        <script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward(); }
</script>
<script src="js/jquery-1.4.3.min.js" type="text/javascript"></script>
<script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
<script src="js/thickbox.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/userprefence.css"/>
    </head>
    <body onload="noBack();"
    onpageshow="if (event.persisted) noBack();" onunload="">

        <!--Wrapper starts-->
        <div class="wrapper">
            <!--Header starts-->
            <div class="header">
                <!--Logoarea starts-->
                <div class="logoarea">
                    <!--Logo starts-->
                    <div class="logo">
                        <a href="home.jsp">
                            <img src="images/logo.png" />
                        </a>
                    </div>
                    <!--Logo Ends-->
            <!--Loginarea Starts-->
                    <div class="loginarea">
                        <div class="inbox" style="width:60px; float:left;">
                    <a href="inbox.jsp" style="color:#fff; font-weight:bold;">Inbox</a>
                </div>
                        <div class="loginname">
                            <h1>
                                Logged In As:
                                <span><%= session.getAttribute("name")%></span>
                            </h1>
                        </div>
                        <div class="logout">
                            <a href="logout.jsp">LOGOUT</a>
                        </div>
                    </div>
                    <!--Loginarea Ends-->
                </div>
                <!--Logoarea Ends-->
            </div>
            <!--Header ends-->
    <!--Main Container Starts-->
            <div class="maincontainer">
                <!--Left Container Starts-->
                <div class="leftcontainer">
                    <!--LeftMenu Starts-->
                    <div class="leftmenu">
                        <div class="myaccount">
					 <label>My Account</label>
				</div>
				<ul>
					<li>
						<a href="myprofile.jsp?stat=view">My Profile</a>
					</li>
					<li>
						<a href="managespace.jsp">Manage Space</a>
					</li>
                    <li>
						<a href="managelabel.jsp">Manage Label</a>
					</li>
                    <li>
						<a href="userpreferences.jsp?width=400&height=300" class="thickbox" title="User Preference">User Preferences</a>
					</li>
					<li>
						<a href="changepassword.jsp">Change Password</a>
					</li>
					<li>
						<a href="askquestion.jsp">Ask A Question</a>
					</li>
                    <li>
						<a href="feedback.jsp">Feedback</a>
					</li>
				</ul>
                    </div>
                    <!--LeftMenu Ends-->
                </div>
                <!--Left Container Ends-->
        <!--Right Container Starts-->
                <div class="rightcontainer">
                    <!--Menu Starts-->
                    <%if(session.getAttribute("user_pref").equals("C")){%>
                     <div class="menu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1" >Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2">Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3">Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="usercredential.jsp" class="current">Credentials</a></li>
                            <li><a href="repassword.jsp?locker_id=6">Important Numbers</a></li>
                        </ul>
                    </div>
                    <%}else{%>
            <div class="menu">
            <ul>
					<li><a href="home.jsp">Home</a></li>
					<li><a href="userhome.jsp?nextpage=1&label_id=0">Docs</a></li>
					<li><a href="usermusic.jsp?nextpage=1&label_id=0">Music</a></li>
					<li><a href="userphoto.jsp?nextpage=1&label_id=0">Photos</a></li>
					<li><a href="uservideo.jsp?nextpage=1&label_id=0">Videos</a></li>
					<li><a href="usercredential.jsp?nextpage=1&label_id=0"  class="current">Credentials</a></li>
					<li><a href="userimportantnumber.jsp?nextpage=1&label_id=0">Important Numbers</a></li>
            </ul>
            </div>
            <%}%>
                    <!--Menu Ends-->
            <!--maincontent starts-->
                    <div class="main">
                        <!--mainarea starts-->
                        <div class="mainarea">
                            <div class="heading">
                                <h2>Add Documents</h2>
                            </div>
                            <div class="documententry">
                              
                                   <%
                                    String label_id1 = request.getParameter("label_id");
                          String pageno = request.getParameter("nextpage");
                                   String locker_id=request.getParameter("LOCKER_CONTENT_LOCKER_ID");
                                   String label_id=request.getParameter("LOCKER_CONTENT_LOCKER_LABEL_ID");
                                   String content_id=request.getParameter("LOCKER_CONTENT_ID");
                                  
                                     GetCredentialsInfo obj=new GetCredentialsInfo();

                                   ArrayList usrlist=obj.getEditCredInfoByContentId(content_id);
                                   ArrayList list=(ArrayList)usrlist.get(0);
                                   int id=Integer.parseInt(label_id);
                                     int user_id= (Integer)session.getAttribute("uid");
                                   GetCredentialsInfo obj1=new GetCredentialsInfo();
                                   String name=obj1.getLabelName(user_id, id);
                                 if (name.equalsIgnoreCase("EMAIL")) {
%>
<form action="editcred?content_id=<%=content_id%>" name="addcred" onsubmit="return credentialsValidate();" method="post">
<table class="bordered border" >
    <tr >
        <td>
            <label>Email Address:</label>
        </td>
        <td>
            <input type="hidden" name="forchecking" value="EMAIL"/>
            <input type="text" name="emailId" value="<%=list.get(0)%>" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Password:</label>
        </td>
        <td>
            <input type="text"value="<%=list.get(1)%>" name="password" />
        </td>
    </tr>
    <tr>
        <td>
            <label >Domain Name:</label>
        </td>
        <td id="domain1">
            <input type="text" value="<%=list.get(7)%>" name="domain"   />
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn" />
        </td>
        <td>
            <a href="usercredential.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table>
</form>
<%}else{


        if(name.equalsIgnoreCase("NET BANKING")){
        %>
        <form action="editcred?content_id=<%=content_id%>" name="addcred" onsubmit="return credentialsValidate();"  method="post">
       <table  class="bordered border">
    <tr>
        <td>
            <label>User Id:</label>
        </td>
        <td>
             <input type="hidden" name="forchecking" value="netbank"/>
            <input type="text" value="<%=list.get(0)%>" name="emailId" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Password:</label>
        </td>
        <td>
            <input type="text" value="<%=list.get(1)%>"  name="password" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn"/>
        </td>
        <td>
            <a href="usercredential.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table>
</form>
<%}else{
if(name.equalsIgnoreCase("ATM CARD")){%>
        <form action="editcred?content_id=<%=content_id%>" name="addcred" onsubmit="return credentialsValidate();" method="post">
        <table class="bordered border">
    <tr>
        <td>
            <label>Card Number:</label>
        </td>
        <td>
             <input type="hidden" name="forchecking" value="ATM"/>
            <input type="text"  value="<%=list.get(0)%>" name="emailId" onkeypress="return numeric_only(event);"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Pin Code:</label>
        </td>
        <td>
            <input type="text" value="<%=list.get(1)%>" name="password" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn" />
        </td>
        <td>
            <a href="usercredential.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table></form>
       <%}else{

        if(name.equalsIgnoreCase("DEBIT CARD")||name.equalsIgnoreCase("CREDIT CARD")){%>
        <form action="editcred?content_id=<%=content_id%>" name="addcred" onsubmit="return credentialsValidate();" method="post">
        <table class="bordered border">
    <tr>
        <td>
            <label>Card Number:</label>
        </td>
        <td>
             <input type="hidden" name="forchecking" value="ATM"/>
            <input type="text" value="<%=list.get(0)%>" name="emailId" onkeypress="return numeric_only(event);"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Pin Code:</label>
        </td>
        <td>
            <input type="text" value="<%=list.get(1)%>" name="password" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn" />
        </td>
        <td>
            <a href="usercredential.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back </a>
        </td>
    </tr>
</table></form>
        <%}else{%>
        <form action="editcred?content_id=<%=content_id%>" name="addcred" onsubmit="return credentialsValidate();" method="post">
        <table class="bordered border">
    <tr>
        <td>
            <label>User Name:</label>
        </td>
        <td>
             <input type="hidden" name="forchecking" value="other"/>
            <input type="text" value="<%=list.get(0)%>" name="emailId" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Password:</label>
        </td>
        <td>
            <input type="text" value="<%=list.get(1)%>" name="password" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn" />
        </td>
        <td>
            <a href="usercredential.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table></form>
        <%}}}}%>
                              
                            </div>
                        </div>
                        <!--mainarea ends-->
                       
                    </div>
                    <!--maincontent ends-->
                </div>
                <!--Right Container Ends-->
            </div>
            <!--Main Container Ends-->
            <!--Footer starts-->
            <div class="footer">
                <div class="footerleft">
                    <p>
                        &copy; All Copyrights reserved. <a href="index.jsp">www.bub.com</a>
                    </p>
                </div>
                <div class="footerright">
                    <ul>
                        <li><a href="index.jsp">Home</a> &nbsp;| &nbsp;</li>
                        <li><a href="index.jsp">About Us</a> &nbsp;| &nbsp;</li>
                        <li><a href="index.jsp">Privacy</a> &nbsp;| &nbsp;</li>
                        <li><a href="index.jsp">Terms</a> &nbsp;| &nbsp;</li>
                        <li><a href="index.jsp">Contact Us</a></li>

                    </ul>
                </div>
            </div>
            <!--Footer Ends-->
        </div>
        <!--Wrapper ends-->
    </body>
</html>
