<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@page import="java.sql.Connection,java.sql.ResultSet,java.sql.Statement,connection.DBConnection,model.*,java.util.*;" %>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Edit Details</title>
        <link rel="stylesheet" type="text/css" href="css/loginstyle.css">
            <script type="text/javascript" src="js/allValidation.js"></script>
        <script>
             function numeric_only( e )
{
// deal with unicode character sets
var unicode = e.charCode ? e.charCode : e.keyCode;

// if the key is backspace, tab, or numeric
if( unicode == 8 || unicode == 9 || ( unicode >= 48 && unicode <= 57 ) )
{
// we allow the key press
return true;
}
else
{
// otherwise we don't
alert("you enter other character");
return false;
}
}
             function importantNumberValidate(){
                var emailid=document.forms["addimpno"]["PAN"].value;
                var password=document.forms["addimpno"]["password"].value;
                var forchecking=document.forms["addimpno"]["forchecking"].value;
                 var desc=document.forms["addimpno"]["desc"].value;
                if(emailid==""||emailid==null){
                      if(forchecking=="PAN"){
                  alert("Please Enter PAN card holder name");
                       return false;
                      }else{

                          if(forchecking=="DRIVING"){

                               alert("Please Enter License holder name");
                       return false;
                          }else{
                              if(forchecking=="INSURANCE"){
                                   alert("Please Enter Policy holder name");
                                    return false;
                              }else{
                                    if(forchecking=="UNIQUE"){
                                         alert("Please Enter Identity card holder name");
                                       return false;
                                    }else{
                                         if(forchecking=="CONTACT"||forchecking=="other"){
                                         alert("Please Enter person name");
                                       return false;
                                    }
                                    }
                              }
                          }
                      }

                }
                if(emailid.trim()==""){
                      alert("Please Enter text ");
                      return false;
                }
                 if(forchecking=="PAN"||forchecking=="DRIVING"||forchecking=="INSURANCE"||forchecking=="UNIQUE"||forchecking=="CONTACT"||forchecking=="other"){

                       if(checkSpecialCharacter(emailid)==false){
                    alert ("Special character not allowed");
                    return false;
                }
                   }
                if(password==""||password==null){
                     if(forchecking=="PAN"){
                  alert("Please Enter PAN card number");
                       return false;
                      }else{

                          if(forchecking=="DRIVING"){

                               alert("Please Enter driving License number");
                       return false;
                          }else{
                              if(forchecking=="INSURANCE"){
                                   alert("Please Enter insurance Policy number");
                                    return false;
                              }else{
                                    if(forchecking=="UNIQUE"){
                                         alert("Please Enter Identity card number");
                                       return false;
                                    }else{
                                         if(forchecking=="CONTACT"||forchecking=="other"){
                                         alert("Please Enter person's number");
                                       return false;
                                    }
                                    }
                              }
                          }
                      }
                }
                if(password.trim()==""){
                      alert("Please Enter text ");
                      return false;
                }
                
                 if(desc==""||desc==null||desc.trim()==" "){
                    var tbLen = desc.trim().length;
                            if (tbLen == 0)
                           {
                    return confirm ('Are you sure you want this Description to be saved as empty?');
                         }

                }

                return true;

            }
        </script>
        <script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward(); }
</script>
<script src="js/jquery-1.4.3.min.js" type="text/javascript"></script>
<script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
<script src="js/thickbox.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/userprefence.css"/>

    </head>
    <body onload="noBack();"
    onpageshow="if (event.persisted) noBack();" onunload="" >

        <!--Wrapper starts-->
        <div class="wrapper">
            <!--Header starts-->
            <div class="header">
                <!--Logoarea starts-->
                <div class="logoarea">
                    <!--Logo starts-->
                    <div class="logo">
                        <a href="home.jsp">
                            <img src="images/logo.png" />
                        </a>
                    </div>
                    <!--Logo Ends-->
            <!--Loginarea Starts-->
                    <div class="loginarea">
                        <div class="inbox" style="width:60px; float:left;">
                    <a href="inbox.jsp" style="color:#fff; font-weight:bold;">Inbox</a>
                </div>
                        <div class="loginname">
                            <h1>
                                Logged In As:
                                <span><%= session.getAttribute("name")%></span>
                            </h1>
                        </div>
                        <div class="logout">
                            <a href="logout.jsp">LOGOUT</a>
                        </div>
                    </div>
                    <!--Loginarea Ends-->
                </div>
                <!--Logoarea Ends-->
            </div>
            <!--Header ends-->
    <!--Main Container Starts-->
            <div class="maincontainer">
                <!--Left Container Starts-->
                <div class="leftcontainer">
                    <!--LeftMenu Starts-->
                    <div class="leftmenu">
                        <div class="myaccount">
                           <label>My Account</label>
                        </div>
                        <ul>
					<li>
						<a href="myprofile.jsp?stat=view">My Profile</a>
					</li>
					<li>
						<a href="managespace.jsp">Manage Space</a>
					</li>
                    <li>
						<a href="managelabel.jsp">Manage Label</a>
					</li>
                    <li>
						<a href="userpreferences.jsp?width=400&height=300" class="thickbox" title="User Preference">User Preferences</a>
					</li>
					<li>
						<a href="changepassword.jsp">Change Password</a>
					</li>
					<li>
						<a href="askquestion.jsp">Ask A Question</a>
					</li>
                    <li>
						<a href="feedback.jsp">Feedback</a>
					</li>
				</ul>
                    </div>
                    <!--LeftMenu Ends-->
                </div>
                <!--Left Container Ends-->
        <!--Right Container Starts-->
                <div class="rightcontainer">
                    <!--Menu Starts-->
                    <%if(session.getAttribute("user_pref").equals("C")){%>
                     <div class="menu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1" >Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2">Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3">Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
                            <li><a href="userimportantnumber.jsp" class="current">Important Numbers</a></li>
                        </ul>
                    </div>
                     <%}else{%>
            <div class="menu">
            <ul>
					<li><a href="home.jsp">Home</a></li>
					<li><a href="userhome.jsp?nextpage=1&label_id=0">Docs</a></li>
					<li><a href="usermusic.jsp?nextpage=1&label_id=0">Music</a></li>
					<li><a href="userphoto.jsp?nextpage=1&label_id=0">Photos</a></li>
					<li><a href="uservideo.jsp?nextpage=1&label_id=0">Videos</a></li>
					<li><a href="usercredential.jsp?nextpage=1&label_id=0">Credentials</a></li>
					<li><a href="userimportantnumber.jsp?nextpage=1&label_id=0" class="current">Important Numbers</a></li>
            </ul>
            </div>
            <%}%>
                    <!--Menu Ends-->
            <!--maincontent starts-->
                    <div class="main">
                        <!--mainarea starts-->
                        <div class="mainarea">
                            <div class="heading">
                                <h2>Add Documents</h2>
                            </div>
                            <div class="documententry">

                                   <%
                                   String label_id1 = request.getParameter("label_id");
                          String pageno = request.getParameter("nextpage");
                                   String locker_id=request.getParameter("LOCKER_CONTENT_LOCKER_ID");
                                   String label_id=request.getParameter("LOCKER_CONTENT_LOCKER_LABEL_ID");
                                   String content_id=request.getParameter("LOCKER_CONTENT_ID");
                                  
                                     GetCredentialsInfo obj=new GetCredentialsInfo();

                                   ArrayList usrlist=obj.getEditCredInfoByContentId(content_id);
                                   System.out.println("ggg"+usrlist.size());
                                   ArrayList list=(ArrayList)usrlist.get(0);
                                   int id=Integer.parseInt(label_id);

                                   int user_id= (Integer)session.getAttribute("uid");
                                   GetCredentialsInfo obj1=new GetCredentialsInfo();
                                   String name=obj1.getLabelName(user_id, id);
                                if (name.equalsIgnoreCase("PAN CARD")) {
%>
  <form action="editimpno?content_id=<%=content_id%>" name="addimpno"  onsubmit="return importantNumberValidate();" method="post">
<table class="bordered border">
    <tr>
        <td>
            <label>PAN Card Holder :</label>
        </td>
        <td>
            <input type="text" name="PAN" value="<%=list.get(0)%>" />
             <input type="hidden" name="forchecking" value="PAN"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>PAN Card Number:</label>
        </td>
        <td>
            <input type="text" name="password" value="<%=list.get(1)%>"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn" />
        </td>
         <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table>
</form>
<%}else{

        if (name.equalsIgnoreCase("DRIVING LICENSE")) {
%>
<form action="editimpno?content_id=<%=content_id%>" name="addimpno"  onsubmit="return importantNumberValidate();" method="post">
<table class="bordered border">
    <tr>
        <td>
            <label>LIcense Holder:</label>
        </td>
        <td>
             <input type="hidden" name="forchecking" value="DRIVING"/>
            <input type="text" name="PAN" value="<%=list.get(0)%>"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Driving License No:</label>
        </td>
        <td>
            <input type="text" name="password" value="<%=list.get(1)%>" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn" />
        </td>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>"class="clickadd">Back</a>
        </td>
    </tr>
</table></form>

<%}
        else{
if (name.equalsIgnoreCase("INSURANCE POLICY")) {%>
<form action="editimpno?content_id=<%=content_id%>" name="addimpno"  onsubmit="return importantNumberValidate();" method="post">
<table class="bordered border">
    <tr>
        <td>
            <label>Policy Holder:</label>
        </td>
        <td>
             <input type="hidden" name="forchecking" value="INSURANCE"/>
            <input type="text" name="PAN" value="<%=list.get(0)%>"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Insurance Policy:</label>
        </td>
        <td>
            <input type="text" name="password" value="<%=list.get(1)%>"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn" />
        </td>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>"class="clickadd">Back</a>
        </td>
    </tr>
</table></form>
<%}
else{
        if (name.equalsIgnoreCase("UNIQUE ID")||name.equalsIgnoreCase("ID CARD")) {%>
<form action="editimpno?content_id=<%=content_id%>" name="addimpno"  onsubmit="return importantNumberValidate();" method="post" >
<table class="bordered border">
    <tr>
        <td>
            <label>Identity Cards Holder:</label>
        </td>
        <td>
              <input type="hidden" name="forchecking" value="UNIQUE"/>
            <input type="text" name="PAN" value="<%=list.get(0)%>"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Identity Cards No:</label>
        </td>
        <td>
            <input type="text" name="password" value="<%=list.get(1)%>" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn" />
        </td>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>"class="clickadd">Back</a>
        </td>
    </tr>
</table></form>
<%}
else{if (name.equalsIgnoreCase("CONTACT NUMBER")) {%>
<form action="editimpno?content_id=<%=content_id%>" name="addimpno"  onsubmit="return importantNumberValidate();" method="post">
<table class="bordered border">
    <tr>
        <td>
            <label>Person Name:</label>
        </td>
        <td>
            <input type="hidden" name="forchecking" value="CONTACT"/>
            <input type="text" name="PAN" value="<%=list.get(0)%>"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Contact Number:</label>
        </td>
        <td>
            <input type="text" name="password" value="<%=list.get(1)%>" onkeypress="return numeric_only(event);" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn" />
        </td>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>"class="clickadd">Back</a>
        </td>
    </tr>
</table></form>
<%} else {
        %>
        <form action="editimpno?content_id=<%=content_id%>" name="addimpno"  onsubmit="return importantNumberValidate();" method="post">
<table class="bordered border">
    <tr>
        <td>
            <label>Person Name:</label>
        </td>
        <td>
              <input type="hidden" name="forchecking" value="other"/>
            <input type="text" name="PAN" value="<%=list.get(0)%>"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Number:</label>
        </td>
        <td>
            <input type="text" name="password" value="<%=list.get(1)%>"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>  
            <textarea name="desc"><%=list.get(2)%></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Update" class="clickaddbtn"/>
        </td>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table></form>
<%
      } }} }} %>

                            </div>
                        </div>
                        <!--mainarea ends-->
                        <!--Pagination starts-->
                        <div class="pagenation">
                            <span>Page:</span>
                            <ul>
                                <li><a href="userhome.jsp" class="current">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">&raquo;</a></li>
                            </ul>
                        </div>
                        <!--Pagination ends-->
                    </div>
                    <!--maincontent ends-->
                </div>
                <!--Right Container Ends-->
            </div>
            <!--Main Container Ends-->
            <!--Footer starts-->
            <div class="footer">
                <div class="footerleft">
                    <p>
                        &copy; All Copyrights reserved. <a href="#">www.bub.com</a>
                    </p>
                </div>
                <div class="footerright">
			<ul>
				<li><a href="home.jsp">Home</a> &nbsp; &nbsp;</li>
			<!--	<li><a href="about.jsp">About Us</a> &nbsp;| &nbsp;</li>
				<li><a href="privacy.jsp">Privacy</a> &nbsp;| &nbsp;</li>
				<li><a href="terms.jsp">Terms</a> &nbsp;| &nbsp;</li>
				<li><a href="contact.jsp">Contact Us</a></li>-->

			</ul>
		</div>
            </div>
            <!--Footer Ends-->
        </div>
        <!--Wrapper ends-->
    </body>
</html>
