<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@page import="java.util.*,model.GetUserInfo;" %>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>My Profile</title>
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
        <script src="js/video.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css">
        <link rel="stylesheet" type="text/css" href="css/loginstyle.css">
            <script>
            function showCountry()
     {


var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {

       document.getElementById("txtHint1").innerHTML=xmlhttp.responseText;


    }
  }

xmlhttp.open("GET","country.jsp",true);
xmlhttp.send();


}
            function showState(str,str1)
     {


if (str.length==0)
  {
  document.getElementById("txtHint").innerHTML="";
  return;
  }
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {   if(str1=="country"){
       document.getElementById("txtHint2").innerHTML=xmlhttp.responseText;
    }
    if(str1=="state"){
       document.getElementById("txtHint3").innerHTML=xmlhttp.responseText;
    }

    }
  }
  if(str1=="country"){
xmlhttp.open("GET","state.jsp?q="+str,true);
xmlhttp.send();
}
else{

    if(str1=="state"){
xmlhttp.open("GET","city.jsp?q="+str,true);
xmlhttp.send();
}
}
}
        </script>
<script src="js/jquery-1.4.3.min.js" type="text/javascript"></script>
<script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
<script src="js/thickbox.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/userprefence.css"/>
    </head>
    <body>

        <%response.setHeader("Cache-Control", "no-cache"); //Forces caches to obtain a new copy of the page from the origin server
        response.setHeader("Cache-Control", "no-store"); //Directs caches not to store the page under any circumstance
        response.setDateHeader("Expires", 0); //Causes the proxy cache to see the page as "stale"
        response.setHeader("Pragma", "no-cache"); //HTTP 1.0 backward compatibility
        if (session.getAttribute("name") == null) {
            response.sendRedirect("index.jsp?status=session expired");
        }
        %>
        <!--Wrapper starts-->
        <div class="wrapper">
           <!--Header starts-->
            <div class="header">
                <!--Logoarea starts-->
                <div class="logoarea">
                    <!--Logo starts-->
                    <div class="logo">
                        <a href="home.jsp">
                            <img src="images/logo.png" />
                        </a>
                    </div>
                    <!--Logo Ends-->
            <!--Loginarea Starts-->
                    <div class="loginarea">
                        <div class="inbox" style="width:60px; float:left;">
                    <a href="inbox.jsp" style="color:#fff; font-weight:bold;">Inbox</a>
                </div>
                        <div class="loginname">
                            <h1>
                                Logged In As:
                                <span><%= session.getAttribute("name")%></span>
                            </h1>
                        </div>
                        <div class="logout">
                            <a href="logout.jsp">LOGOUT</a>
                        </div>
                    </div>
                    <!--Loginarea Ends-->
                </div>
                <!--Logoarea Ends-->
            </div>
            <!--Header ends-->
    <!--Main Container Starts-->
            <div class="maincontainer">
                <!--Left Container Starts-->
                <div class="leftcontainer">
                    <!--LeftMenu Starts-->
                    <div class="leftmenu">
                        <div class="myaccount">
                            <label>My Account</label>
                        </div>
                        <ul>
					<li class="current">
						<a href="myprofile.jsp?stat=view" class="current">My Profile</a>
					</li>
					<li>
						<a href="managespace.jsp">Manage Space</a>
					</li>
                    <li>
						<a href="managelabel.jsp">Manage Label</a>
					</li>
                    <li>
						<a href="userpreferences.jsp?width=400&height=300" class="thickbox" title="User Preference">User Preferences</a>
					</li>
					<li>
						<a href="changepassword.jsp">Change Password</a>
					</li>
					<li>
						<a href="askquestion.jsp">Ask A Question</a>
					</li>
                    <li>
						<a href="feedback.jsp">Feedback</a>
					</li>
				</ul>
                    </div>
                    <!--LeftMenu Ends-->
                </div>
                <!--Left Container Ends-->
        <!--Right Container Starts-->
                <div class="rightcontainer">
                    <div class="menutop" style="margin-bottom:10px;"></div>
                    <!--Menu Starts-->
                   <%if(session.getAttribute("user_pref").equals("C")){%>
			<div class="menu">
				<ul>
					<li><a href="home.jsp">Home</a></li>
					<li><a href="repassword.jsp?locker_id=1">Docs</a></li>
					<li><a href="repassword.jsp?locker_id=2">Music</a></li>
					<li><a href="repassword.jsp?locker_id=3">Photos</a></li>
					<li><a href="repassword.jsp?locker_id=4">Videos</a></li>
					<li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
					<li><a href="repassword.jsp?locker_id=6">Important Numbers</a></li>
				</ul>
			</div>
            <%}else{%>
            <div class="menu">
            <ul>
					<li><a href="home.jsp">Home</a></li>
					<li><a href="userhome.jsp?nextpage=1&label_id=0">Docs</a></li>
					<li><a href="usermusic.jsp?nextpage=1&label_id=0">Music</a></li>
					<li><a href="userphoto.jsp?nextpage=1&label_id=0">Photos</a></li>
					<li><a href="uservideo.jsp?nextpage=1&label_id=0">Videos</a></li>
					<li><a href="usercredential.jsp?nextpage=1&label_id=0">Credentials</a></li>
					<li><a href="userimportantnumber.jsp?nextpage=1&label_id=0">Important Numbers</a></li>
            </ul>
            </div>
            <%}%>
                    <!--Menu Ends-->

            <!--maincontent starts-->
                    <div class="main">
                        <!--mainarea starts-->
                        <div class="mainarea">
                            <!--myaccountarea starts-->
                            <div class="myaccountarea">
                                <h1>Account Information</h1><a href="Status?status=1&userid=<%=session.getAttribute("uid")%>&by=user" style="float:right;margin-right:10px;"><label>Deactivate Account</label></a>
                                <%
                                try{
                                String stat=request.getParameter("stat");
                                GetUserInfo uinfo = new GetUserInfo();
                                ArrayList list ;
                                list = uinfo.getUserDetail((Integer)session.getAttribute("uid"));
                                ArrayList li = (ArrayList)list.get(0);

                                if(stat.equals("edit")){
                                %>
                                <form action="SetUserDetails" method="post">
                                    <table class="bordered border">
                                        <tr>
                                            <td>
                                                <label>First name:</label>
                                            </td>
                                            <td>
                                                <input type="text" name="firstname" value="<%= li.get(0)%>" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Last name:</label>
                                            </td>
                                            <td>
                                                <input type="text" name="lastname" value="<%= li.get(1)%>" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Email ID:</label>
                                            </td>
                                            <td>
                                                <input type="text" name="emailid" value="<%= li.get(2)%>"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Contact no.:</label>
                                            </td>
                                            <td>
                                                <input type="text" name="contactno" value="<%= li.get(3)%>"/>
                                            </td>
                                        </tr>
                                         <tr>
                                            <td>
                                                <label>Country:</label>
                                            </td>
                                            <td>
                                                <select id="txtHint1" name="country" onfocus ="showCountry()"  onchange="showState(this.value,this.name)">
                                                    <option value="<%= li.get(8)%>"><%= li.get(6)%></option>
                                                </select>
                                            </td>
                                        </tr>
                                        
                                        
                                        <tr>
                                            <td>
                                                <label>State:</label>
                                            </td>
                                            <td>
                                                <select  name="state" id="txtHint2" onchange="showState(this.value,this.name);">
                                                    <option value="<%= li.get(9)%>"><%= li.get(5)%></option>
                                                    
                                                </select>
                                            </td>
                                        </tr>
                                       <tr>
                                            <td>
                                                <label>City:</label>
                                            </td>
                                            <td>
                                                <select name="city" id="txtHint3">
                                                    <option value="<%= li.get(10)%>"><%= li.get(4)%></option>

                                                </select>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input type="submit" value="Update" class="clickaddbtn" />
                                            </td>
                                            <td><input type="submit" value="Back" class="clickaddbtn"/></td>
                                        </tr>
                                    </table>
                                </form>
                                <%}else{
                                %>
                                <form>
                                <table class="bordered border">
                                        <tr>
                                            <td>
                                                <label>First name:</label>
                                            </td>
                                            <td>
                                                <label><%= li.get(0)%></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Last name:</label>
                                            </td>
                                            <td>
                                                <label><%= li.get(1)%></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Email ID:</label>
                                            </td>
                                            <td>
                                                <label><%= li.get(2)%></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Contact no.:</label>
                                            </td>
                                            <td>
                                                <label><%= li.get(3)%></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>City:</label>
                                            </td>
                                            <td>
                                                <label><%= li.get(4)%></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>State:</label>
                                            </td>
                                            <td>
                                                <label><%= li.get(5)%></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Country:</label>
                                            </td>
                                            <td>
                                               <label><%= li.get(6)%></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Account Created on:</label>
                                            </td>
                                            <td>
                                                <label><%= li.get(7)%></label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>
                                                <a href="myprofile.jsp?stat=edit"><input type="button" value="Edit details" class="clickaddbtn" /></a>
                                            </td>
                                        </tr>
                                    </table>
                                </form>

                                <%
                                }
                                }catch(Exception e){
                                        e.printStackTrace();
                                        response.sendRedirect("home.jsp?msg=exception in MY PROFILE PAGE!");
                                }
                                    
                                %>

                            </div>
                            <!--myaccountarea ends-->
                        </div>
                        <!--mainarea ends-->

                    </div>
                    <!--maincontent ends-->
                </div>
                <!--Right Container Ends-->
            </div>
            <!--Main Container Ends-->
    <!--Footer starts-->
           <div class="footer">
                <div class="footerleft">
                    <p>
                        &copy; All Copyrights reserved. <a href="#">www.bub.com</a>
                    </p>
                </div>
                <div class="footerright">
			<ul>
				<li><a href="home.jsp">Home</a> &nbsp; &nbsp;</li>
			<!--	<li><a href="about.jsp">About Us</a> &nbsp;| &nbsp;</li>
				<li><a href="privacy.jsp">Privacy</a> &nbsp;| &nbsp;</li>
				<li><a href="terms.jsp">Terms</a> &nbsp;| &nbsp;</li>
				<li><a href="contact.jsp">Contact Us</a></li>-->

			</ul>
		</div>
            </div>
            <!--Footer Ends-->
        </div>
        <!--Wrapper ends-->
    </body>
</html>
