<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Re-password verification</title>
        <link rel="stylesheet" type="text/css" href="css/loginstyle.css">
       
        <script type="text/javascript">
            window.history.forward();
            function noBack() { window.history.forward(); }
        </script>
       
    </head>
    <%
        response.setHeader("Cache-Control", "no-cache"); //Forces caches to obtain a new copy of the page from the origin server
        response.setHeader("Cache-Control", "no-store"); //Directs caches not to store the page under any circumstance
        response.setDateHeader("Expires", 0); //Causes the proxy cache to see the page as "stale"
        response.setHeader("Pragma", "no-cache"); //HTTP 1.0 backward compatibility
        if (session.getAttribute("name") == null) {
            response.sendRedirect("index.jsp?status=session expired");

        }
         String msg="";
        if(request.getParameter("msg")!=null){
                msg=request.getParameter("msg");
        }
         String locker_id=request.getParameter("locker_id");

    %>
    <body  onload="noBack();"
    onpageshow="if (event.persisted) noBack();" onunload="">

        <!--Wrapper starts-->
        <div class="wrapper">
            <!--Header starts-->
            <div class="header">
                <!--Logoarea starts-->
                <div class="logoarea">
                    <!--Logo starts-->
                    <div class="logo">
                        <a href="home.jsp">
                            <img src="images/logo.png" alt="Logo " />
                        </a>
                    </div>
                    <!--Logo Ends-->
            <!--Loginarea Starts-->
                    <div class="loginarea">
                        <div class="inbox" style="width:60px; float:left;">
                            <a href="inbox.jsp" style="color:#fff; font-weight:bold;">Inbox</a>
                        </div>
                        <div class="loginname">
                            <h1>
                                Logged In As:
                                <span><%=session.getAttribute("name")%></span>
                            </h1>
                        </div>
                        <div class="logout">
                            <a href="logout.jsp">LOGOUT</a>
                        </div>
                    </div>
                    <!--Loginarea Ends-->
                </div>
                <!--Logoarea Ends-->
            </div>
            <!--Header ends-->
    <!--Main Container Starts-->
            <div class="maincontainer">
                <!--Left Container Starts-->
                <div class="leftcontainer">
                    <!--LeftMenu Starts-->
                    <div class="leftmenu">
                        <div class="myaccount">
                            <label>My Account</label>
                        </div>
                        <ul>
					<li>
						<a href="myprofile.jsp?stat=view">My Profile</a>
					</li>
					<li>
						<a href="managespace.jsp">Manage Space</a>
					</li>
                    <li>
						<a href="managelabel.jsp">Manage Label</a>
					</li>
                    <li>
						<a href="userpreferences.jsp? " class="thickbox" title="User Preference">User Preferences</a>
					</li>
					<li>
						<a href="changepassword.jsp">Change Password</a>
					</li>
					<li>
						<a href="askquestion.jsp">Ask A Question</a>
					</li>
                    <li>
						<a href="feedback.jsp">Feedback</a>
					</li>
				</ul>
                    </div>
                    <!--LeftMenu Ends-->
                </div>
                <!--Left Container Ends-->
        <!--Right Container Starts-->
                <div class="rightcontainer">
                    <!--treestructure starts-->
                    <div class="menutop" style="margin-bottom:10px;">

                    </div>
                    <!--treestructure ends-->
            <!--Menu Starts-->
               <%
                    if(locker_id!=null){

                %>
                <%
                        if(locker_id.equals("0")){
               %>
                    <div class="menu myaccountmenu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1">Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2" >Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3" >Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
                            <li><a href="repassword.jsp?locker_id=6">Important Numbers</a></li>
                        </ul>
                    </div>
                    <%
                            }
                    %>

                <%
                        if(locker_id.equals("1")){
               %>
                    <div class="menu myaccountmenu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1" class="current">Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2" >Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3" >Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
                            <li><a href="repassword.jsp?locker_id=6">Important Numbers</a></li>
                        </ul>
                    </div>
                    <%
                            }
                    %>
                    <%
                        if(locker_id.equals("2")){
               %>
                    <div class="menu myaccountmenu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1" >Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2" class="current" >Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3" >Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
                            <li><a href="repassword.jsp?locker_id=6">Important Numbers</a></li>
                        </ul>
                    </div>
                    <%
                            }
                    %>
                    <%
                        if(locker_id.equals("3")){
               %>
                    <div class="menu myaccountmenu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1">Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2" >Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3"  class="current" >Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
                            <li><a href="repassword.jsp?locker_id=6">Important Numbers</a></li>
                        </ul>
                    </div>
                    <%
                            }
                    %>
                    <%
                        if(locker_id.equals("4")){
               %>
                    <div class="menu myaccountmenu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1">Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2" >Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3" >Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4"  class="current">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
                            <li><a href="repassword.jsp?locker_id=6">Important Numbers</a></li>
                        </ul>
                    </div>
                    <%
                            }
                    %>
                    <%
                        if(locker_id.equals("5")){
               %>
                    <div class="menu myaccountmenu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1" >Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2" >Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3" >Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5" class="current">Credentials</a></li>
                            <li><a href="repassword.jsp?locker_id=6">Important Numbers</a></li>
                        </ul>
                    </div>
                    <%
                            }
                    %>
                    <%
                        if(locker_id.equals("6")){
               %>
                    <div class="menu myaccountmenu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1">Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2" >Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3" >Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
                            <li><a href="repassword.jsp?locker_id=6"  class="current">Important Numbers</a></li>
                        </ul>
                    </div>
                    <%
                            }}
                    %>
                    <!--Menu Ends-->

            <!--maincontent starts-->
                    <div class="main">
                        <!--mainarea starts-->
                        <div class="mainarea">
                            <!--myaccountarea starts-->
                            <div class="myaccountarea">
                                <h1>Re-Password Verification</h1>
                                <form  action="changeUserPreference">
                                    <table class="bordered border"/>
                                        <tr>
                <td colspan="2" style="padding-left: 15px;">
                    <%
                    if(session.getAttribute("user_pref").equals("C")){
                    %>
                    <div id="brands">
                        <label style="color:#333; font-size:13px; margin-right:20px; margin-left:10px;"><input id="brand1" name="userPref" type="radio" value="C" checked> Activate</label>
                        <label style="color:#333; font-size:13px;"><input id="brand2" name="userPref" type="radio" value="U">Deactivate</label>

                    </div>
                    <%
                        }else{

                       %>
                       <div id="brands">
                        <label><input id="brand1" name="userPref" type="radio" value="C" > Activate</label>
                        <label><input id="brand2" name="userPref" type="radio" value="U" checked>Deactivate</label>

                       </div>
                       <%
                        }
                    %>
                </td>
            </tr>
                                            
                                            <td >
                                                <input type="submit" value="Submit" class="clickaddbtn" style="margin-left:30px;"/>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
       
                            </div>
                            <!--myaccountarea ends-->
                        </div>
                        <!--mainarea ends-->

                    </div>
                    <!--maincontent ends-->
                </div>
                <!--Right Container Ends-->
            </div>
            <!--Main Container Ends-->
    <!--Footer starts-->
            <div class="footer">
                <div class="footerleft">
                    <p>
                        &copy; All Copyrights reserved. <a href="#">www.bub.com</a>
                    </p>
                </div>
                <div class="footerright">
			<ul>
				<li><a href="home.jsp">Home</a> &nbsp; &nbsp;</li>
			<!--	<li><a href="about.jsp">About Us</a> &nbsp;| &nbsp;</li>
				<li><a href="privacy.jsp">Privacy</a> &nbsp;| &nbsp;</li>
				<li><a href="terms.jsp">Terms</a> &nbsp;| &nbsp;</li>
				<li><a href="contact.jsp">Contact Us</a></li>-->

			</ul>
		</div>
            </div>
            <!--Footer Ends-->
        </div>
        <!--Wrapper ends-->
    </body>
</html>
