<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <%@ page import="java.util.ArrayList,model.*,java.sql.ResultSet;"%>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>UserMusic</title>
        <script>
            function confirmCheck(){

                return confirm("Are you Sure");

            }

         function srachByLabel(){

        var label1=document.getElementById("lables").value;

        window.location.href="labelsearch?redirctpage=2&lables="+label1;
         }
        </script>        
        <script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css">
        <link rel="stylesheet" type="text/css" href="css/loginstyle.css"/>
        <link rel="stylesheet" type="text/css" href="css/thickbox.css">
        <script src="js/jquery-1.4.3.min.js" type="text/javascript"></script>
        <script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
        <script src="js/thickbox.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="css/userprefence.css"/>
       <script type="text/javascript" src="js/allValidation.js"></script>
    </head>
    <body onload="noBack();"
    onpageshow="if (event.persisted) noBack();" onunload="">
        <%response.setHeader("Cache-Control", "no-cache"); //Forces caches to obtain a new copy of the page from the origin server
        response.setHeader("Cache-Control", "no-store"); //Directs caches not to store the page under any circumstance
        response.setDateHeader("Expires", 0); //Causes the proxy cache to see the page as "stale"
        response.setHeader("Pragma", "no-cache"); //HTTP 1.0 backward compatibility
        if (session.getAttribute("name") == null) {
            response.sendRedirect("index.jsp?status=session expired");
        }

        %>
        <!--Wrapper starts-->
        <div class="wrapper">
            <!--Header starts-->
            <div class="header">
                <!--Logoarea starts-->
                <div class="logoarea">
                    <!--Logo starts-->
                    <div class="logo">
                        <a href="home.jsp">
                            <img src="images/logo.png" />
                        </a>
                    </div>
                    <!--Logo Ends-->
            <!--Loginarea Starts-->
                    <div class="loginarea">
                        <div class="inbox" style="width:60px; float:left;">
                    <a href="inbox.jsp" style="color:#fff; font-weight:bold;">Inbox</a>
                </div>
                        <div class="loginname">
                            <h1>
                                Logged In As:
                                <span><%= session.getAttribute("name")%></span>
                            </h1>
                        </div>
                        <div class="logout">
                            <a href="logout.jsp">LOGOUT</a>
                        </div>
                    </div>
                    <!--Loginarea Ends-->
                </div>
                <!--Logoarea Ends-->
            </div>
            <!--Header ends-->
    <!--Main Container Starts-->
     <%
            String amsg = request.getParameter("amsg");
            String smsg = request.getParameter("smsg");
           String umsg = request.getParameter("usmsg");
            if(smsg!=null){
                %>
             <script>
                 alert("Record Upload Successful!");
                          </script>
            <%}%>
            <%if(umsg!=null){
                %>
             <script>
                 alert("Record edited successfully!");
                          </script>
            <%}%><%if(amsg!=null){
                %>
             <script>
                 alert("Record update failed!");
                          </script>
            <%}%>
            <div class="maincontainer">
                <!--Left Container Starts-->
                <div class="leftcontainer">
                    <!--LeftMenu Starts-->
                    <div class="leftmenu">
                        <div class="myaccount">
                            <label>My Account</label>
                        </div>
                        <ul>
					<li>
						<a href="myprofile.jsp?stat=view">My Profile</a>
					</li>
					<li>
						<a href="managespace.jsp">Manage Space</a>
					</li>
                    <li>
						<a href="managelabel.jsp">Manage Label</a>
					</li>
                    <li>
						<a href="userpreferences.jsp?width=400&height=300" class="thickbox" title="User Preference">User Preferences</a>
					</li>
					<li>
						<a href="changepassword.jsp">Change Password</a>
					</li>
					<li>
						<a href="askquestion.jsp">Ask A Question</a>
					</li>
                    <li>
						<a href="feedback.jsp">Feedback</a>
					</li>
				</ul>
                    </div>
                    <!--LeftMenu Ends-->
                </div>
                <!--Left Container Ends-->
        <!--Right Container Starts-->
                <div class="rightcontainer">
                    <!--treestructure starts-->
             <%    int size=0;
                     String label_id1 = request.getParameter("label_id");
                      String pageno = request.getParameter("nextpage");
                                String searchmsg = request.getParameter("seacrmsg");
                               
                    try {
                         int user_id =(Integer)session.getAttribute("uid");
                ArrayList list = new ArrayList();
        
         int locker_id11=2;
          if(searchmsg==null){
                GetCredentialsInfo obj = new GetCredentialsInfo();
                     //GetMusicInfo fileSet = new GetMusicInfo();
            // GetImportantNumberInfo obj=new GetImportantNumberInfo();
           
            if(label_id1==null){
                label_id1="0";
            }
            if (label_id1.equals("0")) {
               label_id1="0";

                    }
             /* //  list = obj.getAllCredInfo(user_id);
                out.print("size="+list.size());
                System.out.println("size="+list.size());
            } else {

            }out.print("size="+list.size());*/
                System.out.println("size="+list.size());
                  list = obj.getAllCredInfoByLabelID(user_id, label_id1,locker_id11);
        // list = fileSet.GetMusicFiles((Integer)session.getAttribute("uid"));
        }else{
        list=(ArrayList)session.getAttribute("credsearchlist");
        }
        int pagecheck = 0;
        int totalpage = 0;
        int start = 0;
        int end = 6;
       

        if (pageno == null) {
            start = 0;
        } else {
            pagecheck = Integer.parseInt(pageno);
            start = Integer.parseInt(pageno);
            end = start * 6;
            start = end - 6;

        }

        ResultSet rs = null;

        try {
           
            int lockerId = 2;
            GetLabelInfo lb = new GetLabelInfo();
            rs = lb.getLabels(lockerId, user_id);
                    %>
                   
                    <div class="treestruct">
                         <form action="CredentialSearch?label_id=<%=label_id1 %>&nextpage=<%=pageno%>&locker_id=2" method="post">
                        <div class="treelist">
                            <label>Music</label>
                              <select name="lables" id="lables">
                                    <option value="0">Select</option>
                                <%
                         while (rs.next()) {
                                %>
                                <option value="<%= rs.getString(1)%>"><%= rs.getString(2)%></option>
                                <%}%>
                            </select>
                             <input type="button" value="GO" class="clickaddbtn" onclick="srachByLabel()"/>
                        </div>
                        <div class="searchbox">


                            <div class="search">

                                <span>Name Start with</span>
                                 <input type="radio" name="search" value="NameStartwith"/>
                                  <span>Name Contain</span>
                                  <input type="radio" name="search" value="NameContain"/>
                            </div>
                            <div class="searchbtn">
                                <input type="text" name="searchvalue" placeholder="By name..." />
                                <input type="submit" value=" " />
                            </div>
                            
                        </div>
                        
                   
                      </form>
                    </div>

                    <%

        } catch (Exception e) {
            e.printStackTrace();
        }

                    %>
                    <!--treestructure ends-->
                    <!--Menu Starts-->
                    <!--Menu Starts-->
                    <%if(session.getAttribute("user_pref").equals("C")){%>
                    <div class="menu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1">Docs</a></li>
                            <li><a href="usermusic.jsp" class="current">Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3">Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
                            <li><a href="repassword.jsp?locker_id=6">Important Numbers</a></li>
                        </ul>
                    </div>
                    <%}else{%>
            <div class="menu">
            <ul>
					<li><a href="home.jsp" >Home</a></li>
					<li><a href="userhome.jsp?nextpage=1&label_id=0">Docs</a></li>
					<li><a href="usermusic.jsp?nextpage=1&label_id=0" class="current">Music</a></li>
					<li><a href="userphoto.jsp?nextpage=1&label_id=0">Photos</a></li>
					<li><a href="uservideo.jsp?nextpage=1&label_id=0">Videos</a></li>
					<li><a href="usercredential.jsp?nextpage=1&label_id=0">Credentials</a></li>
					<li><a href="userimportantnumber.jsp?nextpage=1&label_id=0">Important Numbers</a></li>
            </ul>
            </div>
            <%}%>
                    <!--Menu Ends-->
                     <form action="DeleteMultiple?lockerId=2" onsubmit=" return checkSelection()" method="post">
                    <!--maincontent starts-->
                    <div class="main">
                        <!--mainarea starts-->
                        <div class="mainarea">

                                <table class="bordered">
                                    <div class="labelmsg">
                                            <%

                                            if(label_id1!="0"){
                                            int label_id11 = Integer.parseInt(request.getParameter("label_id"));
                                          model.GetCredentialsInfo obj=new model.GetCredentialsInfo();
                                          String name=obj.getLabelName(user_id, label_id11);

                                          out.print(name);}else{
                                          out.print("All Records");
                                          }
                                            %>
                                    </div>
                                    <tr>
                                        <th><input type="checkbox" onClick="toggle(this)"/></th>
                                        <th>Sr.No</th>
                                        <th>File Name</th>
                                        <th>File Type</th>
                                        <th>Uploaded on</th>
                                        <th>Actions</th>
                                    </tr>
                                    <%
                                     try {
                                          size = list.size();
                                         if (size != 0) {
                                             totalpage = size / 6;
                                             if (size % 6 != 0) {
                                                 totalpage = totalpage + 1;
                                             }

                                             if (totalpage < pagecheck) {

                                                 response.sendRedirect("usermusic.jsp?nextpage=" + (pagecheck - 1) + "&label_id=" + label_id1);
                                             }

                                             if (pagecheck < 1) {

                                                 response.sendRedirect("usermusic.jsp?nextpage=1&label_id=" + label_id1);
                                             }

            ArrayList record = new ArrayList();
            int sNo = 1;
                            for (int i = start; i < end; i++) {
                                record = (ArrayList) list.get(i);
                                 if (i < list.size()) {
                                                            record = (ArrayList) list.get(i);
                                    %>
                                    <tr>
                                        <td><input type="checkbox" name="content_id" value="<%=record.get(6)%>"/></td>
                                        <td><label><%= sNo++%></label></td>

                                        <td>
                                            <label><%= record.get(0)%></label>
                                        </td>
                                        <td>
                                            <label><%= record.get(7)%></label>
                                        </td>
                                        <td>
                                            <label><%= record.get(8)%></label>
                                        </td>
                                        <td>
                                            <a href="DocEditRecord.jsp?id=<%=record.get(6)%>&lockerId=2" ><img src="images/1348812769_filesaveas.png" title="Edit Data" /></a>
                                            <a href="DeleteDocRecord?id=<%=record.get(6)%>&lockerId=2" onclick=" return confirmCheck();"><img src="images/1348812848_edit-delete.png" title="Delete Data" /></a>
                                            <a href="download.jsp?id=<%=record.get(6)%>"><img src="images/1348812909_human-folder-downloads.png" title="Download Data" /></a>

                                            <a href="playMedia.jsp?id=<%=record.get(6)%>" title="Playmedia" class="thickbox" ><img src="images/play.png" title="Play" /></a>
                                        </td>
                                    </tr>
                                     <% }}


                                         %>
 <%
            }else{

        %>
        <tr>
                                        <td colspan="6" class="record"> <label style="font-size:18px;">No Record Founds</label></td></tr>

        <%
            }
        } catch (Exception e) {
            e.printStackTrace();
        }
                            %>
                                </table>

                        </div>
                        <!--mainarea ends-->
                        <!--Pagination starts-->
                        <div class="pagenation">
                            <!--<form action="findpagenumber.jsp">
                                <span>Jump to</span>
                                <input type="text" name="pageno">
                                <input type="hidden" name="redirct" value="5">
                                <input type="submit" value=" " class="searchbtn" class="clickaddbtn"/>

                            </form>-->
                               <%if(size!=0){%>
                            <span>Page</span>
                            <ul>
                                <%if (pageno == null) {
            pagecheck = 1;
        } else {
            pagecheck = Integer.parseInt(pageno);
        }
        if (pagecheck != 1) {
                                %>
                                <li><a href="findpagenumber.jsp?pageno=<%=pagecheck - 1%>&redirct=2" class="current" >Previous</a></li>
                                <%}%>
                                <li><a href="findpagenumber.jsp?pageno=<%=pagecheck%>&redirct=2" ><%=pagecheck%></a></li>
                                <%
        if (pagecheck != totalpage) {
                                %>
                                <li><a href="findpagenumber.jsp?pageno=<%=pagecheck + 1%>&redirct=2" class="current" >next</a></li>
                                <%}}}catch(Exception e){e.printStackTrace();}%>
                            </ul>
                        </div>
                        <!--Pagination ends-->
                        <!--Addbtn starts-->
                        <div class="addbtn">
                            <a href="userhomeaddmusic.jsp" class="clickaddbtn" style="margin-right:10px;">+Add Music

                            </a>

                        <input type="submit" class="clickaddbtn" id="deleteButton" value="Delete selected" style="height:26px;">


                        </div>
                        <!--Addbtn ends-->
                    </div>
                    </form>
                    <!--maincontent ends-->
                </div>
                <!--Right Container Ends-->
            </div>
            <!--Main Container Ends-->
            <!--Footer starts-->
           <div class="footer">
                <div class="footerleft">
                    <p>
                        &copy; All Copyrights reserved. <a href="#">www.bub.com</a>
                    </p>
                </div>
                <div class="footerright">
			<ul>
				<li><a href="home.jsp">Home</a> &nbsp; &nbsp;</li>
			<!--	<li><a href="about.jsp">About Us</a> &nbsp;| &nbsp;</li>
				<li><a href="privacy.jsp">Privacy</a> &nbsp;| &nbsp;</li>
				<li><a href="terms.jsp">Terms</a> &nbsp;| &nbsp;</li>
				<li><a href="contact.jsp">Contact Us</a></li>-->

			</ul>
		</div>
            </div>
            <!--Footer Ends-->
        </div>
        <!--Wrapper ends-->
    </body>
</html>
