<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@page import="java.sql.Connection,java.sql.ResultSet,java.sql.Statement,connection.DBConnection,model.*,java.util.*;" %>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>View Details</title>
        <link rel="stylesheet" type="text/css" href="css/loginstyle.css"/>
        <script>
            function CheckFileName(){

            }
        </script>
         <script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward(); }
</script>
<script src="js/jquery-1.4.3.min.js" type="text/javascript"></script>
<script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
<script src="js/thickbox.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/userprefence.css"/>
    </head>
    <%response.setHeader("Cache-Control", "no-cache"); //Forces caches to obtain a new copy of the page from the origin server
        response.setHeader("Cache-Control", "no-store"); //Directs caches not to store the page under any circumstance
        response.setDateHeader("Expires", 0); //Causes the proxy cache to see the page as "stale"
        response.setHeader("Pragma", "no-cache"); //HTTP 1.0 backward compatibility
        if (session.getAttribute("name") == null) {
            response.sendRedirect("index.jsp?status=session expired");
        }
        %>
    <body onload="noBack();"
    onpageshow="if (event.persisted) noBack();" onunload="" >

        <!--Wrapper starts-->
        <div class="wrapper">
            <!--Header starts-->
            <div class="header">
                <!--Logoarea starts-->
                <div class="logoarea">
                    <!--Logo starts-->
                    <div class="logo">
                        <a href="home.jsp">
                            <img src="images/logo.png" />
                        </a>
                    </div>
                    <!--Logo Ends-->
            <!--Loginarea Starts-->
                    <div class="loginarea">
                           <div class="inbox" style="width:60px; float:left;">
                    <a href="inbox.jsp" style="color:#fff; font-weight:bold;">Inbox</a>
                </div>
                        <div class="loginname">
                            <h1>
                                Logged In As:
                                <span><%= session.getAttribute("name")%></span>
                            </h1>
                        </div>
                        <div class="logout">
                            <a href="logout.jsp">LOGOUT</a>
                        </div>
                    </div>
                    <!--Loginarea Ends-->
                </div>
                <!--Logoarea Ends-->
            </div>
            <!--Header ends-->
    <!--Main Container Starts-->
            <div class="maincontainer">
                <!--Left Container Starts-->
                <div class="leftcontainer">
                    <!--LeftMenu Starts-->
                    <div class="leftmenu">
                        <div class="myaccount">
                            <label>My Account</label>
                        </div>
                        <ul>
					<li>
						<a href="myprofile.jsp?stat=view">My Profile</a>
					</li>
					<li>
						<a href="managespace.jsp">Manage Space</a>
					</li>
                    <li>
						<a href="managelabel.jsp">Manage Label</a>
					</li>
                    <li>
						<a href="userpreferences.jsp?width=400&height=300" class="thickbox" title="User Preference">User Preferences</a>
					</li>
					<li>
						<a href="changepassword.jsp">Change Password</a>
					</li>
					<li>
						<a href="askquestion.jsp">Ask A Question</a>
					</li>
                    <li>
						<a href="feedback.jsp">Feedback</a>
					</li>
				</ul>
                    </div>
                    <!--LeftMenu Ends-->
                </div>
                <!--Left Container Ends-->
        <!--Right Container Starts-->
        <div class="rightcontainer">
             <%if(session.getAttribute("user_pref").equals("C")){%>
                <div class="menu">
                        <ul>
                            <li><a href="home.jsp">Home</a></li>
                            <li><a href="repassword.jsp?locker_id=1" >Docs</a></li>
                            <li><a href="repassword.jsp?locker_id=2">Music</a></li>
                            <li><a href="repassword.jsp?locker_id=3">Photos</a></li>
                            <li><a href="repassword.jsp?locker_id=4">Videos</a></li>
                            <li><a href="repassword.jsp?locker_id=5">Credentials</a></li>
                            <li><a href="userimportantnumber.jsp" class="current">Important Numbers</a></li>
                        </ul>
                    </div>
                    <%}else{%>
            <div class="menu">
            <ul>
					<li><a href="home.jsp" >Home</a></li>
					<li><a href="userhome.jsp?nextpage=1&label_id=0">Docs</a></li>
					<li><a href="usermusic.jsp?nextpage=1&label_id=0">Music</a></li>
					<li><a href="userphoto.jsp?nextpage=1&label_id=0">Photos</a></li>
					<li><a href="uservideo.jsp?nextpage=1&label_id=0">Videos</a></li>
					<li><a href="usercredential.jsp?nextpage=1&label_id=0">Credentials</a></li>
					<li><a href="userimportantnumber.jsp?nextpage=1&label_id=0" class="current">Important Numbers</a></li>
            </ul>
            </div>
            <%}%>
                    <!--Menu Ends-->
            <!--maincontent starts-->
                    <div class="main">
                        <!--mainarea starts-->
                        <div class="mainarea">
                            <div class="heading">
                                <h2>Add Documents</h2>
                            </div>
                            <div class="documententry">

                                   <%
                                    String label_id1 = request.getParameter("label_id");
                          String pageno = request.getParameter("nextpage");
                                   String locker_id=request.getParameter("LOCKER_CONTENT_LOCKER_ID");
                                   String label_id=request.getParameter("LOCKER_CONTENT_LOCKER_LABEL_ID");
                                   String content_id=request.getParameter("LOCKER_CONTENT_ID");

                                     GetCredentialsInfo obj=new GetCredentialsInfo();

                                   ArrayList usrlist=obj.getEditCredInfoByContentId(content_id);
                                   ArrayList list=(ArrayList)usrlist.get(0);
                                   int id=Integer.parseInt(label_id);

                                   int user_id= (Integer)session.getAttribute("uid");
                                   GetCredentialsInfo obj1=new GetCredentialsInfo();
                                   String name=obj1.getLabelName(user_id, id);
                                  
                                if (name.equalsIgnoreCase("PAN CARD")) {
%>
 
<table class="bordered border">
    <tr>
        <td>
            <label>PAN Card Holder :</label>
        </td>
        <td>
            <label><%=list.get(0)%></label>
            
        </td>
    </tr>
    <tr>
        <td>
            <label>PAN Card Number:</label>
        </td>
        <td>
            <label><%=list.get(1)%></label>
            
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <label><%=list.get(2)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
    
</table>

<%}else{

        if (name.equalsIgnoreCase("DRIVING LICENSE")) {
%>

<table class="bordered border">
    <tr>
        <td>
            <label>LIcense Holder:</label>
        </td>
        <td>
           <label><%=list.get(0)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Driving License No:</label>
        </td>
        <td>
            <label><%=list.get(1)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
             <label><%=list.get(2)%></label>
        </td>
    </tr>
   <tr>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table>

<%}
        else{
if (name.equalsIgnoreCase("INSURANCE POLICY")) {%>

<table class="bordered border">
    <tr>
        <td>
            <label>Policy Holder:</label>
        </td>
        <td>
             <label><%=list.get(0)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Insurance Policy:</label>
        </td>
        <td>
             <label><%=list.get(1)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
             <label><%=list.get(2)%></label>
        </td>
    </tr>
   <tr>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table>
<%}
else{
        if (name.equalsIgnoreCase("UNIQUE ID")||name.equalsIgnoreCase("ID CARD")) {%>
<form action="editimpno?content_id=<%=content_id%>" method="post" >
<table class="bordered border">
    <tr>
        <td>
            <label>Identity Cards Holder:</label>
        </td>
        <td>
             <label><%=list.get(0)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Identity Cards No:</label>
        </td>
        <td>
            <label><%=list.get(1)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
           <label><%=list.get(2)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table>
<%}
else{if (name.equalsIgnoreCase("CONTACT NUMBER")) {%>

<table class="bordered border">
    <tr>
        <td>
            <label>Person Name:</label>
        </td>
        <td>
            <label><%=list.get(0)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Contact Number:</label>
        </td>
        <td>
             <label><%=list.get(1)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
            <label><%=list.get(2)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table>
<%} else {
        %>
       
<table class="bordered border">
    <tr>
        <td>
            <label>Person Name:</label>
        </td>
        <td>
             <label><%=list.get(0)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Number:</label>
        </td>
        <td>
             <label><%=list.get(1)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Description:</label>
        </td>
        <td>
             <label><%=list.get(2)%></label>
        </td>
    </tr>
    <tr>
        <td>
            <a href="userimportantnumber.jsp?label_id=<%=label_id1 %>&nextpage=<%=pageno%>" class="clickadd">Back</a>
        </td>
    </tr>
</table>
<%
      } }} }} %>

                            </div>
                        </div>
                        <!--mainarea ends-->
                      
                    </div>
                    <!--maincontent ends-->
                </div>
                <!--Right Container Ends-->
            </div>
            <!--Main Container Ends-->
            <!--Footer starts-->
            <div class="footer">
                <div class="footerleft">
                    <p>
                        &copy; All Copyrights reserved. <a href="#">www.bub.com</a>
                    </p>
                </div>
                <div class="footerright">
			<ul>
				<li><a href="home.jsp">Home</a> &nbsp; &nbsp;</li>
			<!--	<li><a href="about.jsp">About Us</a> &nbsp;| &nbsp;</li>
				<li><a href="privacy.jsp">Privacy</a> &nbsp;| &nbsp;</li>
				<li><a href="terms.jsp">Terms</a> &nbsp;| &nbsp;</li>
				<li><a href="contact.jsp">Contact Us</a></li>-->

			</ul>
		</div>
            </div>
            <!--Footer Ends-->
        </div>
        <!--Wrapper ends-->
    </body>
</html>
