html, body {
	margin:0;
	padding:0;
}
body{
	
	font-size: 75%;
}
a{
	color: #27D;
	text-decoration: none;
}
a:focus, a:hover, a:active {
	color:#dc8c00;
	
}
p, li {
	line-height: 1.8em;
}

pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}
div#page {
	width: 740px;
	margin-bottom:20px;
	margin: 0 auto;
	text-align: left;
	height:400px;
}
div#container {
	width:740px;
}
div#ads {
	clear: both;
	
}
