/* CSS Document */

*
{
	margin:0; 
	padding:0; 
	font-family:Arial, Helvetica, sans-serif;
}

li
{
	list-style:none;
}

img
{
	border:none;
}

a
{
	text-decoration:none;
}

h1
{
	font-size:14px; 
	color:#fff;
}

h2
{
	font-size:14px; 
	color:#fff;
}

span
{
	font-size:13px; 
	color:#333;
}

p
{
	font-size:12px; 
	color:#fff;
}

label
{
	font-size:13px;
    color:#333;
}

.osx
{
	color:#000; 
	display:block;
}


table
{
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.labelmsg
{
    background-color: #EEEEEE;
    border: 1px solid #000000;
    color: #000000;
    font-size: 13px;
    margin: 10px auto auto;
    padding: 3px 0;
    text-align: center;
    width: 100%;
    margin-bottom:10px;
}


.bordered tr td label
{
	font-size:12px;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
     width:240px;
}

.bordered tr td label a
{
    color:#333;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}


.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.border
{
	border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;   
}

.border label a
{
    color:#333;
}

.border tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.border td, .bordered th {
    border-left:none;
    border-top:none;
    padding: 10px;
    text-align: left;    
}

.border th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.border tr td input[type=text], .border tr td input[type=password]
{
	width:300px; 
	border:1px solid #ccc; 
	padding:2px; 
	font-size:12px;
}

.border tr td input[type=text]:hover, .border tr td input[type=text]:focus,.border tr td input[type=password]:hover, .border tr td input[type=password]:focus
{ 
	border:1px solid #333;
}

.border tr td textarea
{
	width:305px; 
	border:1px solid #ccc; 
	max-width:305px; 
	min-width:305px; 
	max-height:100px; 
	min-height:100px; font-size:12px;
}

.border tr td textarea:hover, .border tr td textarea:focus
{ 
	border:1px solid #333;
}

.border tr td select
{
	width:305px; 
	border:1px solid #ccc; 
	font-size:12px;
}
table tr .record
{
    text-align:center;
  
}

.clickaddbtn
{
	background:#464646; 
	padding:4px 15px; 
	color:#fff; 
	border-radius:5px; 
	border:1px solid #464646; 
	cursor:pointer;
	font-size:14px;
	text-decoration:none;
}

.clickaddbtn:hover
{
	background:#8dbdd8; 
	color:#fff; 
	border:1px solid #8dbdd8;
	text-decoration:none;
}

.clickadd
{
	background:#464646;
	padding:4px 15px;
	color:#fff;
	border-radius:5px;
	border:1px solid #464646;
	cursor:pointer;
	font-size:14px;
	text-decoration:none;
    float:right;   
    margin-right:20px;
}

.clickadd:hover
{
	background:#8dbdd8;
	color:#fff;
	border:1px solid #8dbdd8;
	text-decoration:none;
}

.selectbtn
{
	background:#fff;
	color:#000;
	font-size:12px;
	border:1px solid #ccc;
	width:200px;
	text-align:left;

}

.selectbtn option
{
	line-height:20px;
	border:none;
	padding:3px;
	text-align:left;

}
	
.wrapper
{
	width:1000px; 
	margin:20px auto; 
	background:#fff; 
	border:1px solid #666; 
	overflow:hidden;
}

.wrapper:hover
{
	box-shadow:1px 1px 15px #000;
}

.header{}

.header .logoarea
{
	background:#222; 
	overflow:hidden; 
	padding:5px;
}

.header .logoarea .logo
{
	float:left;
}

.header .loginarea
{
	float:right; 
	margin-top:30px;
}

.header .loginarea .loginname
{
	float:left; 
	margin-right:30px;
}

.header .loginarea .loginname h1 span
{
	font-size:14px; 
	color:#ccc;
}

.header .loginarea .logout
{
	float:right;
}

.header .loginarea .logout a
{
	font-size:14px; 
	color:#ccc;
}

.header .loginarea .inbox a
{
    color:#ccc;
}

.header .loginarea .inbox a:hover, .inbox a.current
{
    text-decoration:underline;
    color:#fefefe;
}

.header .loginarea .logout a:hover
{
	text-decoration:underline; 
	color:#fff;
}

.maincontainer
{
	width:1000px;
}

.maincontainer .leftcontainer
{
	float:left; 
	width:200px; 
	padding:15px; 
	height:770px;
	background:#fff; 
	border-right:1px solid #ccc; 
	margin-right:15px;
}

.maincontainer .leftcontainer .leftmenu{}

.maincontainer .leftcontainer .leftmenu .myaccount
{
	width:200px; 
	margin-bottom:10px;
	background:#000;
    padding:5px 0;
}

.maincontainer .leftcontainer .leftmenu .myaccount label
{
	font-size:15px; 
	color:#fff;
    margin-left:5px;
}

.maincontainer .leftcontainer .leftmenu ul{}

.maincontainer .leftcontainer .leftmenu ul li
{
	margin-bottom:10px; 
	background:#fff; 
	border-bottom:1px dotted #bebebe; 
	padding:5px;
}

.maincontainer .leftcontainer .leftmenu ul li a
{
	display:block; 
	font-size:14px; 
	color:#424242;
	text-decoration:none;
}

.maincontainer .leftcontainer .leftmenu ul li:hover, .maincontainer .leftcontainer .leftmenu ul li a:hover 
{
	background:#f3f3f3; 
	color:#000;
	text-decoration:none;
}

.maincontainer .leftcontainer .leftmenu ul li.current, .maincontainer .leftcontainer .leftmenu ul li a.current 
{
	background:#f3f3f3; 
	color:#000;
}

.maincontainer .rightcontainer
{
	padding:15px; 
	float:right; 
	width:700px;
}

.maincontainer .rightcontainer .treestruct
{
	background:#aaa;
	width:739px; 
	float:right; 
	height:40px;
}

.maincontainer .rightcontainer .treestruct .treelist
{
	float:left; 
	width:300px; 
	margin-left:10px; 
	margin-top:7px;
}

.maincontainer .rightcontainer .treestruct .treelist select
{
	padding:4px;
	width:100px;
}
.maincontainer .rightcontainer .treestruct .treelist h2
{
	margin-left:10px; 
	margin-top:10px;
}

.maincontainer .rightcontainer .treestruct .searchbox
{
	float:right; 
	margin-top:10px; 
	width:420px;
}

.maincontainer .rightcontainer .treestruct .searchbox .search
{
	float:left; 
	margin-top:2px;
}

.maincontainer .rightcontainer .treestruct .searchbox .search span
{
	margin-top:5px;
}

.maincontainer .rightcontainer .treestruct .searchbox .searchbtn
{
	float:right; 
	margin-top:-3px; 
	background:#fff; 
	margin-right:10px; 
	border:1px solid #fff;
}

.maincontainer .rightcontainer .treestruct .searchbox .searchbtn input[type=text]
{
	background:#fff;
	border:none; 
	margin-left:5px;
}

.maincontainer .rightcontainer .treestruct .searchbox .searchbtn input[type=submit]
{
	background:url(../images/serachbtn.jpg) no-repeat; 
	width:32px; 
	height:26px; 
	border:none; 
	cursor:pointer;
}

.maincontainer .rightcontainer .treestruct .searchbox .searchbtn:hover, .maincontainer .rightcontainer .treestruct .searchbox .searchbtn:focus
{
	border:1px solid #333;
}

.maincontainer .rightcontainer .menu
{
	background:#464646; 
	overflow:hidden; 
	height:35px; 
	margin-top:10px; 
	width:740px; 
	float:right;
}

.maincontainer .rightcontainer .myaccountmenu
{
	margin-top:0px;
}

.maincontainer .rightcontainer .menu ul{}

.maincontainer .rightcontainer .menu ul li
{ 
	float:left; 
	margin-left:10px; 
}

.maincontainer .rightcontainer .menu ul li a
{ 
	font-size:14px; 
	display:inline-block; 
	color:#fff; 
	margin-top:9px; 
	background:url(../images/555555_40x100_textures_03_highlight_soft_75.png);  
	padding: 5px 12px;
	border-radius:3px 3px 0 0;
}

.maincontainer .rightcontainer .menu ul li a:hover, .maincontainer .rightcontainer .menu ul li a.current
{
	background:#fff; 
	color:#c57c1b;
}

.maincontainer .rightcontainer .main
{
	float:right; 
	width:740px;
}

.maincontainer .rightcontainer .main .mainarea
{
	height:600px;
}

.maincontainer .rightcontainer .main .mainarea .videos
{
	float:right; 
	width:680px; 
	margin-top:15px;
}

.maincontainer .rightcontainer .main .mainarea .videos iframe
{
	margin-right:10px; 
	margin-bottom:20px;
}

.maincontainer .rightcontainer .main .mainarea table
{
	margin-top:20px; 
	width:739px; 
	float:right;
}

.maincontainer .rightcontainer .main .mainarea .myaccountarea
{
	margin-top:10px;
}

.maincontainer .rightcontainer .main .mainarea .myaccountarea h1
{
	color:#333; 
	font-size:14px; 
	margin-left:10px;
}

.maincontainer .rightcontainer .main .mainarea .managespace
{
	width:740px; 
	margin-top:20px; 
	margin-left:10px;
}

.maincontainer .rightcontainer .main .mainarea .managespace .module
{
	width:210px; 
	float:left; 
	text-align:center; 
	border:2px solid #747b7b; 
	margin-right:42px; 
	height:260px;
}

.maincontainer .rightcontainer .main .mainarea .managespace .module:last-child
{
	margin-right:0px;
}

.maincontainer .rightcontainer .main .mainarea .managespace .module p
{
	color:#333;
}

.maincontainer .rightcontainer .main .mainarea .managespace .module p span
{
	color:#2ea1e1; 
	font-size:16px; 
	font-weight:bold;
}

.maincontainer .rightcontainer .main .pagenation
{
	float:right; 
	margin-top:20px;
}

.maincontainer .rightcontainer .main .pagenation span
{
	font-size:12px; 
	color:#000;
}

.maincontainer .rightcontainer .main .pagenation ul
{
	display:inline-block;
}

.maincontainer .rightcontainer .main .pagenation ul li
{
	float:left;
}

.maincontainer .rightcontainer .main .pagenation ul li a
{
	background:#8dbdd8; 
	font-size:12px;
	color:#fff; 
	margin-right: 10px;
	padding: 3px 8px;
}

.maincontainer .rightcontainer .main .pagenation ul li a:hover, .maincontainer .rightcontainer .main .pagenation ul li a.current
{
	background:-moz-linear-gradient(#7b7b7b,#4a4a4a,#353535,#323232);
}

.maincontainer .rightcontainer .main .addbtn
{
	margin-top:40px; 
	clear:both;
}

.footer
{
	background:#000; 
	height:80px; 
	float:left; 
	width:1000px;
}

.footer .footerleft
{
	float:left; 
	width:500px;
}

.footer .footerleft p
{
	margin-left:10px; 
	margin-top:30px;
}

.footer .footerleft p a
{
	font-size:12px; 
	color:#fff;
}

.footer .footerleft p a:hover
{
	text-decoration:underline;
}

.footer .footerright
{
	float: right;
	margin-right: 10px;
	margin-top: 20px;
	padding: 10px;
}

.footer .footerright ul{}

.footer .footerright ul li
{
	float:left; 
	color:#fff;
}

.footer .footerright ul li a
{
	text-transform:uppercase; 
	font-size:14px; 
	color:#fff; 
	display:inline-block; 
	margin-right:10px;
}

.footer .footerright ul li a:hover
{
	text-decoration:underline;
}

.maincontainer .rightcontainer .main .mainarea .documententry
{
	float:right; 
	width:740px;
}

.maincontainer .rightcontainer .main .mainarea .documententry table
{
	border: medium none;
	float:left; 
	width:400px;
	margin-right:70px;
	margin-top:0;
	padding:0;
	width:740px;
}

.maincontainer .rightcontainer .main .mainarea .documententry table td
{
	border-bottom:none; 
	border-right:none;
}

.maincontainer .rightcontainer .main .mainarea .documententry table tr td
{
	padding:5px;
}

.maincontainer .rightcontainer .main .mainarea .documententry table tr td label
{
	text-align:left; 
	color:#000; 
	font-weight:bold;
}

.maincontainer .rightcontainer .main .mainarea .documententry table tr td input[type=text]
{
	width:200px; 
	border:1px solid #dedede; 
	padding:3px;
}

.maincontainer .rightcontainer .main .mainarea .documententry table tr td input[type=text]:hover, .maincontainer .rightcontainer .main .mainarea .documententry table tr td input[type=text]:focus, .maincontainer .rightcontainer .main .mainarea .documententry table tr td input[type=file]:hover, .maincontainer .rightcontainer .main .mainarea .documententry table tr td input[type=file]:focus, .maincontainer .rightcontainer .main .mainarea .documententry table tr td textarea:hover, .maincontainer .rightcontainer .main .mainarea .documententry table tr td textarea:focus 
{
	border:1px solid #000;
}

.maincontainer .rightcontainer .main .mainarea .documententry table tr td input[type=file]
{
	width:200px; 
	border:1px solid #ccc; 
}

.maincontainer .rightcontainer .main .mainarea .documententry table tr td textarea
{
	width:205px; 
	border:1px solid #dedede; 
	max-height:60px; 
	max-width:205px;
}

.thumbnail-wrap {
	float:left;
	height:151px;
	margin:30px;
	width:151px;
}
.thumbnail-div {
	background-color:#313131;
	float:left;
	height:146px;
	padding:5px 0 0 5px;
	width:146px;
}

.thumbnail-shadow {
	float:left;
	height:33px;
	width:100%;
}
.thumbnail-div .sections-overlay {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:url(../images/thumbnail-overlay.png) no-repeat scroll -40px -300px;
	float:left;
	margin-top:-33px;
}
.thumbnail-div div{
	height:141px;
	width:141px;

}

.thumbnail-div div ul
{
	width:82px;
	float:right;
}

.thumbnail-div div ul li 
{
	float:left;
	margin-left:6px;
	margin-top:5px;
}

.thumbnail-div div ul li a
{
	font-size:12px;
	color:#000;
	display:inline-block;
	margin-right:5px;
}

.thumbnail-div div ul li a:hover
{
	text-decoration:underline;
}

.sections-overlay {
	background-image:url(../images/readmore-bg.png);
	opacity: 0; 
	visibility:hidden;
	background-position: 0px -167px;
}
.thumbnail-div .sections-overlay .zoom {
	margin:60px 0 0 61px;
}
.sections-overlay .zoom {
	border:medium none;
	
}
.readmore {
	background-image:url(../images/readmore-bg.png);
	color:#FFFFFF;
	display:block;
	float:right;
	font-size:10px;
	margin:17px 0 0 40px;
	padding:5px 10px;
}

/* Dropdown style*/

div.dropdown {
color: #555;
margin: 3px -22px 0 0;
width: 155px;
position: relative;
height: 17px;
text-align:left;
}
div.submenu
{
background: #fff;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.dropdown  li a {
   
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
  cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover{
    background:#333333;
    color: #FFFFFF;
    text-decoration: none;
    
}
a.account {
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 121px;
margin: -11px 0 0 -10px;
text-decoration: none;
background:url(../images/arrow.png) 116px 17px no-repeat;
cursor:pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}

.icon
{
	width:740px;
	margin-top:20px;
}

.icon .iconblock
{
	width:210px;
	background:#fff;
	border:2px solid #ccc;
	float:left;
	margin-right:48px;
	margin-bottom:30px;
	height:170px;
}

.icon .iconblock:last-child
{
	margin-right:0;
}

.icon .iconblock:hover
{
  box-shadow:1px 2px 8px #000;

}

.icon .iconblock p
{
	color:#333;
	margin-left:5px;
}

.icon .iconblock img
{
	margin:auto;
	display:block;
	cursor:pointer;
}

.bordered tr td label
{
	font-size:12px;
}


.unborder tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.unborder td, .unborder th {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.unborder label
{
	margin-bottom:10px;
}

.unborder label a
{
    color:#333;
}

.unborder tr td img
{
	margin-right:10px;
	margin-bottom:-8px;
}

.unborder label span
{
	color:#555;
}

.maincontainer .rightcontainer .menutop
{
	background:#fff;
	width:739px; 
	float:right; 
	height:40px;
	
}

.arrowlistmenu{
width: 180px; /*width of accordion menu*/
}

.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
font: bold 14px Arial;
color: white;
background:#000;
margin-bottom: 10px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 4px 0 4px 10px; /*header text is indented 10px*/
cursor: hand;
cursor: pointer;
width:190px;
}

.arrowlistmenu .menuheader a
{
	color:#fff;
	font-weight:bold;
	font-size:14px;
	display:block;
}


.arrowlistmenu .menuheader:hover, .arrowlistmenu .menuheader.current
{
 background:#666666;
 color:#fff;
}

.arrowlistmenu .openheader{
background:#666666;
color:#fff;
}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 2px;
margin-bottom:10px;

}

.arrowlistmenu ul li a{
color: #333333;
background:url(../images/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
display: block;
padding: 2px 0;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid #dadada;
font-size:12px;
width:180px;
}

.arrowlistmenu ul li a:visited{
color: #333333;
}

.arrowlistmenu ul li a:hover, .arrowlistmenu ul li a.current{ /*hover state CSS*/
color: #333333;
background-color: #F3F3F3;
}

.inbox
{
    width:60px;
    float:left;
}

.inbox a
{
     color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: -2px;
}

.web_dialog_overlay

{

position: fixed;

top: 0;

right: 0;

bottom: 0;

left: 0;

height: 100%;

width: 100%;

margin: 0;

padding: 0;

background: #000000;

opacity: .15;

filter: alpha(opacity=15);

-moz-opacity: .15;

z-index: 101;

display: none;

}


.web_dialog

{

 display: none;

 position: fixed;

 width: 380px;

 height: 200px;

 top: 50%;

 left: 50%;

 margin-left: -190px;

 margin-top: -100px;

 background-color: #ffffff;

 border: 2px solid #999;

 padding: 0px;

 z-index: 102;

 font-family: Verdana;

 font-size: 10pt;

}


.web_dialog_title

{

 border-bottom: solid 2px #000;

 background-color: #000;

 padding: 4px;

 color: White;

 font-weight:bold;

}


.web_dialog_title a

{

color: White;

text-decoration: none;

background:#000;

}

.web_dialog_title a:hover
{
    background:#000;
}

.align_right

{

text-align: right;

}


.Level2HeadingStyle

{

font-weight: bold;

font-size: 15pt;

color: #2D84A7;

line-height: 20px;


}

