
* {
    margin: 0;
    padding: 0;
	font-family:Arial;
}
small{
    color:#ff0000;
}
body {
	background:url(../images/bg.jpg) repeat-x;
	background-color:#bcd9e7;
}
li {
    list-style: none outside none;
}
a {
    font-size: 12px;
    text-decoration: none;
}
p {
    font-size: 12px;
    line-height: 20px;
}
h1 {
    color: #3391C2;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
	margin-top:25spx;
}
h3{
	color: #FFFFFF;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin: 20px auto;
    width: 642px;
}
h4{
	color: #3391C2;
}
h5{
	font-size: 20px;
    margin: 20px 0;
    color: #333;
}
b{color:#0099CC;}

.wraper {
    margin: auto;
    width: 1000px;

}
.logoarea {
	
   
}
.logo {
    float: left;
	margin-left:10px;
	margin-top:10px;
}
.menu {
    float: right;
    margin-bottom: 10px;
    margin-top:98px;
}
.bannerarea {
    background-image: url(../images/banner.jpg);
    clear: both;
    display: inline-block;
    height: 332px;
    overflow: hidden;
    width:1000px;
}
.bannerarea1 {
    background:url(../images/mainbanner.jpg);
    clear: both;
    display: inline-block;
    height: 172px;
    width: 1000px;
}
.bannerarea1 .bannerbtn{
	width:0px;
	float:right;
	display:inline-block;
}
.bannerarea1 .button{
	background:url(../images/signupbtn2.png);
	width:223px;
	height:58px;
	margin-top:95px;
}
.banner {
    clear: both;
    display: inline-block;
    height: 330px;
    width: 1000px;
}
.button {
    background: url(../images/button1.jpg);
    border: medium none;
    cursor: pointer;
    display: block;
    float: right;
    height: 67px;
    margin-right: 95px;
    margin-top: 160px;
    width: 283px;
}
.maincontent {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 20px;
    overflow: hidden;
	box-shadow: 1px 2px 5px #666666;
	padding-bottom:30px;
	
}
.maincontent .mainleft {
	float:left; 
	width:640px; 
	margin-left:15px;
	margin-top:15px;
}


.maincontent .right {
    background-color: #C4E2F9;
    border-radius: 3px 3px 3px 3px;
    float: right;
    margin: 35px;
    padding: 30px;
}

.maincontent .right  a{
	color:#0099FF;
}
.maincontent .right  a:hover{
	text-decoration:underline;
}
.maincontent .left {
    background-color: #C4E2F9;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin: 60px 35px 0 80px;
    padding: 30px;
}
.maincontent .right form table tr{
    display: block;
    margin-bottom: 5px;

}
.maincontent .right form table tr{
font-size:14px;
}
.signupbtn{
    background: url(../images/signupbtn.jpg) repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 34px;
    width: 205px;
}
.maincontent .right form table tr td .loginbtn, .maincontent .left form table tr td .loginbtn {
    background: url(../images/loginbtn.jpg) repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 36px;
    width: 80px;
}
.maincontent .right form table tr td .text, .maincontent .left form table tr td .text {
    border: 1px solid #ccc;
    height: 25px;
    width: 195px;
}
.maincontent .right form table tr td .text:focus,.maincontent .right form table tr td .text:hover, .maincontent .left form table tr td .text:focus, .maincontent .left form table tr td .text:hover {
border:1px solid #0099FF;
}
.maincontent .right form table tr td .logininfo, .maincontent .left form table tr td .logininfo
{
	font-size:12px; color:#0099FF; margin-left:10px;
}
.maincontent .right form table tr td .logininfo:hover, .maincontent .left form table tr td .logininfo:hover{
	text-decoration:underline;
}
.footer {
    background:#000000;
    color: #FFFFFF;
    padding: 40px 0;
	box-shadow: 1px 2px 5px #666666;
}
.footer .footertop{
	background:url(../images/footerbg.png);
	padding:16px;
	margin-top:-43px;
	margin-bottom:20px;
}
.footer .footerleft {
    float: left;
    margin-left: 10px;
    width: 500px;
}
.footer .footerright {
    float: right;
    margin-right: 10px;
}
.footer .footerright form {
    display: inline;
}
.footer .footerright a {
    color: #FFFFFF;
}
.footer .footerright a:hover {
    text-decoration: underline;
}

.maincontent .loginright{
	 background-color: #C4E2F9;
    border-radius: 3px 3px 3px 3px;
    float: right;
    margin: 130px 30px 30px;
    padding: 25px;
    width: 500px;
}


.maincontent .loginright .signupbtn{
  	background: url(../images/signupbtn.jpg);
    border: medium none;
    height: 33px;
    margin-bottom: 15px;
    width: 205px;
}
.maincontent .signup{
	margin:auto;
	width:770px;
}

.maincontent .signup .accinfo{
	background: #C4E2F9;
	border-radius: 3px 3px 3px 3px;
    margin:25px auto;
    padding: 30px;
	border: 1px solid #ccc;
}

.maincontent .signup .accinfo p{
	color: #197CCB;
    font-size: 17px;
    margin: auto;
    width: 260px;
}

.maincontent .signup form table tr{

}

.maincontent .signup form table tr td{
	font-size:14px;
	padding:10px;
}
.maincontent .signup form table tr td .text2{
	width:400px;
	 border: 1px solid #ccc;
    height: 25px;
}
.maincontent .signup form table tr td .text2:focus,.maincontent .signup form table tr td .text2:hover{
	border:1px solid #0099FF;
}
.buttonarea{
	text-align:center;
	margin:15px 0;
}
.maincontent .signup .captcha{
	margin:15px 0;
}
.maincontent .signup .captcha .text{
	border: 1px solid #ccc;
    height: 25px;
    width: 195px;
}
.submitbtn{
background:-moz-linear-gradient(#43b9ef,#3db3eb,#299add);
border:none;
padding:6px 10px;
border-radius:3px;
color:#FFFFFF;
font-weight:bold;
border:1px solid #0099FF;
cursor:pointer;
}

.maincontent .storageplan{
	text-align:center;
	padding:20px;
}

.maincontent .storageplan .module{
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 300px;
    margin: 9px 35px 9px 25px;
    padding: 10px;
    width: 237px;
}

.maincontent .contact{
	 width: 800px;
    margin: 30px auto;
}
.maincontent .contact .contactform{
 	font-size: 14px;
    background: #caebfd;
    padding: 15px;
    margin-top: 20px;
}
.maincontent .contact .contactform form table tr{
}
.maincontent .contact .contactform form table tr td{
	padding: 10px;
}
.maincontent .contact .contactform form table tr td label{
	vertical-align:top;
}
.maincontent .contact .contactform form table .text{
	width:400px;
	 border: 1px solid #ccc;
    height: 25px;
}
 .maincontent .contact .contactform form table textarea{
 	width:400px;
	border: 1px solid #ccc;
    height: 100px;
}
.maincontent .contact .contactform form table .text:hover, .maincontent .contact .contactform form table textarea:hover,.maincontent .contact .contactform form table .text:focus, .maincontent .contact .contactform form table textarea:focus{
	border:1px solid #0099FF;
}
nav {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 22px;
    width: 180px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a,
#selectedBacking {
  display: block;
  color: #aaa;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #ccc;
  margin: 10px 0;
  border-radius: 30px;
  -moz-border-radius: 30px;
  padding-left: 20px;
  height: 30px;
  z-index: 2;
  position: relative;
}
nav a:hover {
  border: 2px solid #333;
  background: #999;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#999), color-stop(.6,#666));
  color: #fff;
}
nav a.selected,
#selectedBacking {
  border: 2px solid #333;
  background: #4eb7f0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#666), color-stop(.6,#333));
  background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#666), color-stop(.6,#333));
  background: gradient(linear, 0% 0%, 0% 100%, from(#666), to(#666), color-stop(.6,#333));
  color: #fff;
}
#selectedBacking {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 145px;
}
#content {
 	float: right;
    margin: 20px;
    width: 750px;
}
#content section {
  display: block;
  padding-top: 10px;
}
#spacer {
  height: 300px;
}
.maincontent .terms{margin:10px;}

.maincontent .privacy{margin:20px;}
	
/*****************MENU STYLE*******************/
.menu {
    font-family: "Trebuchet MS",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    top: 200px;
    width: 600px;
}
.item {
    background-color: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 1px 3px #555555;
    cursor: pointer;
    float: right;
    height: 52px;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    width: 52px;
}
.link {
    height: 48px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 48px;
}
.icon_home {
    background: url(../images/home.png) no-repeat scroll left top transparent;
}
.icon_mail {
    background: url(../images/signup.png) no-repeat scroll left top transparent;
}
.icon_help {
    background: url(../images/login.png) no-repeat scroll left top transparent;
}
.icon_find {
    background: url(../images/plan.png) no-repeat scroll left top transparent;
}
.icon_photos {
    background: url(../images/about.png) no-repeat scroll left top transparent;
}
.item_content {
    background: none repeat scroll 0 0 transparent;
    display: none;
    height: 52px;
    left: 56px;
    overflow: hidden;
    position: absolute;
    top: 7px;
    width: 220px;
}
.item_content h2 {
    background-color: transparent;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.item_content a {
    background-color: transparent;
    color: #BBBBBB;
    float: left;
    font-size: 12px;
    margin-right: 7px;
    margin-top: 3px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.item_content a:hover {
    color: #3785BB;
}
